<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dotop.pipe.api.dao.mark.IMarkDao">

	<sql id="selectColumns">
        m.id,
        m.`code`,
        m.`desc`,
        m.longitude,
        m.latitude,
        m.enterprise_id,
        m.is_del,
        m.status,
        m.user_id
	</sql>

	<resultMap id="MarkVoMap"
		type="com.dotop.pipe.core.vo.mark.MarkVo">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="desc" jdbcType="VARCHAR" property="desc" />
		<result column="longitude" jdbcType="VARCHAR" property="longitude" />
		<result column="latitude" jdbcType="VARCHAR" property="latitude" />
		<result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
		<result column="is_del" jdbcType="INTEGER" property="isDel" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
	</resultMap>

	<insert id="add">
		INSERT INTO pls_mark
		(id, code, `desc`, longitude, latitude, enterprise_id, create_by, create_date,
		last_by, last_date, is_del, status, user_id)
		VALUES
		(#{id}, #{code}, #{desc}, #{longitude}, #{latitude}, #{enterpriseId},
		#{userBy}, #{curr},
		#{userBy}, #{curr}, #{isDel}, #{status}, #{userId});
	</insert>

	<update id="edit" parameterType="java.util.Map">
		UPDATE pls_mark
		<trim prefix="set" suffixOverrides=",">
			<if test="code != null and code != ''">
				code=#{code},
			</if>
			<if test="desc != null and desc != ''">
				`desc`=#{desc},
			</if>
			<if test="status != null and status != ''">
				`status`=#{status},
			</if>
			<if test="longitude != null">
				longitude=#{longitude},
			</if>
			<if test="latitude != null">
				latitude=#{latitude},
			</if>
			<if test="userBy != null and userBy != ''">
				last_by=#{userBy},
			</if>
			<if test="curr != null">
				last_date=#{curr},
			</if>
		</trim>
		WHERE
		enterprise_id=#{enterpriseId} AND id=#{id} AND
		is_del=#{isDel} AND user_id=#{userId}
	</update>

	<select id="get" resultMap="MarkVoMap">
		SELECT <include refid="selectColumns"/>
		FROM pls_mark m
		<where>
			<if test="enterpriseId != null and enterpriseId != ''">
				AND m.enterprise_id=#{enterpriseId}
			</if>
			<if test="isDel != null">
				AND m.is_del=#{isDel}
			</if>
			<if test="id != null and id != ''">
				AND m.id=#{id}
			</if>
			<if test="code != null and code != ''">
				AND m.code=#{code}
			</if>
			<if test="id != null and id != ''">
				AND m.id=#{id}
			</if>
			AND m.user_id=#{userId}
		</where>
	</select>

	<select id="list" resultMap="MarkVoMap">
		SELECT <include refid="selectColumns"/>
		FROM pls_mark m
		<where>
			<if test="enterpriseId != null and enterpriseId != ''">
				AND m.enterprise_id=#{enterpriseId}
			</if>
			<if test="isDel != null">
				AND m.is_del=#{isDel}
			</if>
			<if test="id != null and id != ''">
				AND m.point_id=#{pointId}
			</if>
			<if test="code != null and code != ''">
				AND m.code=#{code}
			</if>
			<if test="id != null and id != ''">
				AND m.id=#{id}
			</if>
			AND m.user_id=#{userId}
		</where>
	</select>

<!--	<delete id="del">-->
<!--        delete from pls_mark-->
<!--        where id = #{id} and enterprise_id=#{enterpriseId} AND user_id=#{userId}-->
<!--    </delete>-->

	<update id="del">
        update pls_mark set is_del = 1 where id = #{id} and enterprise_id=#{enterpriseId} AND user_id=#{userId}
    </update>
	
</mapper>