<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dotop.smartwater.project.third.server.meterread.dao.water.ITestDao">

    <resultMap id="BaseVoMap" type="com.dotop.smartwater.dependence.core.common.BaseVo">
        <result property="enterpriseid" column="enterpriseid"/>
    </resultMap>

    <select id="get" resultMap="BaseVoMap">
		select enterpriseid from enterprise limit 1
	</select>

</mapper>