<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dotop.smartwater.view.server.dao.pipe.device.IDeviceSummaryDao">

    <sql id="selectColumns">
        id,
        summary_date,
        summary_category,
        summary_type,
        val,
        `name`,
        device_id,
        pressure_value,
        enterprise_id,
        create_by,
        create_date,
        last_by,
        last_date,
        is_del,
        area_code,
        data_density
    </sql>
    <sql id="selectColumns2">
        s.id,
        s.summary_date,
        s.summary_category,
        s.summary_type,
        s.val,
        s.`name`,
        s.device_id,
        s.pressure_value,
        s.enterprise_id,
        s.create_by,
        s.create_date,
        s.last_by,
        s.last_date,
        s.is_del,
        s.area_code,
        s.data_density
    </sql>

    <resultMap id="DeviceSummaryVoMap"
               type="com.dotop.smartwater.view.server.core.device.vo.DeviceSummaryVo">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="summary_category" jdbcType="VARCHAR" property="summaryCategory"/>
        <result column="summary_date" jdbcType="TIMESTAMP" property="summaryDate"/>
        <result column="summary_type" jdbcType="VARCHAR" property="summaryType"/>
        <result column="val" jdbcType="DOUBLE" property="val"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pressure_value" jdbcType="DOUBLE" property="pressureValue"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="last_by" jdbcType="VARCHAR" property="lastBy"/>
        <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId"/>
        <result column="last_date" jdbcType="TIMESTAMP" property="lastDate"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="avgval" jdbcType="VARCHAR" property="avgval"/>
        <result column="sumval" jdbcType="VARCHAR" property="sumval"/>
        <result column="maxval" jdbcType="VARCHAR" property="maxval"/>
        <result column="groupDate" jdbcType="VARCHAR" property="groupDate"/>
        <result column="data_density" jdbcType="VARCHAR" property="dataDensity"/>
        <association property="device" javaType="com.dotop.smartwater.view.server.core.device.vo.DeviceVo"
                     columnPrefix="d_">
            <result column="name" property="name"/>
            <result column="code" property="code"/>
            <result column="device_id" property="deviceId"/>
        </association>
    </resultMap>

    <select id="list" resultMap="DeviceSummaryVoMap">
        select
        <include refid="selectColumns"/>
        from pls_device_summary
        <where>
            enterprise_id = #{enterpriseId}
            and is_del = #{isDel}
            <if test="summaryCategory != null and summaryCategory != ''">
                and summary_category = #{summaryCategory}
            </if>
            <if test="dataDensity != null and dataDensity">
                and data_density = #{dataDensity}
            </if>
            <if test="summaryType != null and summaryType != ''">
                and summary_type = #{summaryType}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and device_id = #{deviceId}
            </if>
            <if test="summaryDate != null">
                AND MONTH(summary_date) = MONTH(#{summaryDate})
                AND YEAR(summary_date) = YEAR(#{summaryDate})
            </if>
            <if test="dataDensity == 'day' and summaryDate != null">
                AND DAY(summary_date) = DAY(#{summaryDate})
            </if>
            <if test="startDate != null">
                AND summary_date <![CDATA[>=]]> #{startDate}
            </if>
            <if test="endDate != null">
                AND summary_date <![CDATA[<=]]> #{endDate}
            </if>
            order by summary_date asc
        </where>
    </select>

    <select id="listFactory" resultMap="DeviceSummaryVoMap">
        select
        <include refid="selectColumns2"/>, d.code as d_code, d.name as d_name, d.device_id as d_device_id
        from pls_device_summary s
        inner join pls_device d on d.device_id = s.device_id and d.is_del = 0
        <where>
            s.enterprise_id = #{enterpriseId}
            and s.is_del = #{isDel}
            <if test="summaryCategory != null and summaryCategory != ''">
                and s.summary_category = #{summaryCategory}
            </if>
            <if test="dataDensity != null and dataDensity">
                and s.data_density = #{dataDensity}
            </if>
            <if test="summaryType != null and summaryType != ''">
                and s.summary_type = #{summaryType}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and s.device_id = #{deviceId}
            </if>
            <!--            <if test="summaryDate != null">-->
            <!--                AND MONTH(s.summary_date) = MONTH(#{summaryDate})-->
            <!--                AND YEAR(s.summary_date) = YEAR(#{summaryDate})-->
            <!--            </if>-->
            <!--            <if test="dataDensity == 'day' and summaryDate != null">-->
            <!--                AND DAY(s.summary_date) = DAY(#{summaryDate})-->
            <!--            </if>-->
                        <if test="startDate != null">
                            AND s.summary_date <![CDATA[>=]]> #{startDate}
                        </if>
                        <if test="endDate != null">
                            AND s.summary_date <![CDATA[<=]]> #{endDate}
                        </if>
            group by d.device_id
        </where>
    </select>

    <select id="listFactoryNotGroup" resultMap="DeviceSummaryVoMap">
        select
        <include refid="selectColumns2"/>, d.code as d_code, d.name as d_name, d.device_id as d_device_id
        from pls_device_summary s
        inner join pls_device d on d.device_id = s.device_id and d.is_del = 0
        <where>
            s.enterprise_id = #{enterpriseId}
            and s.is_del = #{isDel}
            <if test="summaryCategory != null and summaryCategory != ''">
                and s.summary_category = #{summaryCategory}
            </if>
            <if test="dataDensity != null and dataDensity">
                and s.data_density = #{dataDensity}
            </if>
            <if test="summaryType != null and summaryType != ''">
                and s.summary_type = #{summaryType}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and s.device_id = #{deviceId}
            </if>
            <!--            <if test="summaryDate != null">-->
            <!--                AND MONTH(s.summary_date) = MONTH(#{summaryDate})-->
            <!--                AND YEAR(s.summary_date) = YEAR(#{summaryDate})-->
            <!--            </if>-->
            <!--            <if test="dataDensity == 'day' and summaryDate != null">-->
            <!--                AND DAY(s.summary_date) = DAY(#{summaryDate})-->
            <!--            </if>-->
            <if test="startDate != null">
                AND s.summary_date <![CDATA[>=]]> #{startDate}
            </if>
            <if test="endDate != null">
                AND s.summary_date <![CDATA[<=]]> #{endDate}
            </if>
        </where>
    </select>

    <select id="listCurr" resultMap="DeviceSummaryVoMap">
        select
        <include refid="selectColumns"/>
        from pls_device_summary_curr
        <where>
            enterprise_id = #{enterpriseId}
            and is_del = #{isDel}
            <if test="summaryCategory != null and summaryCategory != ''">
                and summary_category = #{summaryCategory}
            </if>
            <if test="dataDensity != null and dataDensity">
                and data_density = #{dataDensity}
            </if>
            <if test="summaryType != null and summaryType != ''">
                and summary_type = #{summaryType}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and device_id = #{deviceId}
            </if>
            <if test="summaryDate != null">
                AND MONTH(summary_date) = MONTH(#{summaryDate})
                AND YEAR(summary_date) = YEAR(#{summaryDate})
            </if>
            <if test="dataDensity == 'day' and summaryDate != null">
                AND DAY(summary_date) = DAY(#{summaryDate})
            </if>
            <if test="startDate != null">
                AND summary_date <![CDATA[>=]]> #{startDate}
            </if>
            <if test="endDate != null">
                AND summary_date <![CDATA[<=]]> #{endDate}
            </if>
            order by summary_date asc
        </where>
    </select>

    <select id="listFactoryCurr" resultMap="DeviceSummaryVoMap">
        select
        <include refid="selectColumns2"/>, d.code as d_code, d.name as d_name, d.device_id as d_device_id
        from pls_device_summary_curr s
        inner join pls_device d on d.device_id = s.device_id and d.is_del = 0
        <where>
            s.enterprise_id = #{enterpriseId}
            and s.is_del = #{isDel}
            <if test="summaryCategory != null and summaryCategory != ''">
                and s.summary_category = #{summaryCategory}
            </if>
            <if test="dataDensity != null and dataDensity">
                and s.data_density = #{dataDensity}
            </if>
            <if test="summaryType != null and summaryType != ''">
                and s.summary_type = #{summaryType}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and s.device_id = #{deviceId}
            </if>
            <!--            <if test="summaryDate != null">-->
            <!--                AND MONTH(s.summary_date) = MONTH(#{summaryDate})-->
            <!--                AND YEAR(s.summary_date) = YEAR(#{summaryDate})-->
            <!--            </if>-->
            <!--            <if test="dataDensity == 'day' and summaryDate != null">-->
            <!--                AND DAY(s.summary_date) = DAY(#{summaryDate})-->
            <!--            </if>-->
            <!--            <if test="startDate != null">-->
            <!--                AND s.summary_date <![CDATA[>=]]> #{startDate}-->
            <!--            </if>-->
            <!--            <if test="endDate != null">-->
            <!--                AND s.summary_date <![CDATA[<=]]> #{endDate}-->
            <!--            </if>-->
            group by d.device_id
        </where>
    </select>

    <select id="isInit" resultMap="DeviceSummaryVoMap">
        select
        <include refid="selectColumns"/>
        from pls_device_summary
        where
        enterprise_id = #{enterpriseId}
        <if test="dataDensity != null and dataDensity != ''">
            and data_density = #{dataDensity}
        </if>
        and is_del = #{isDel}
        limit 1
    </select>

    <insert id="adds">
        insert into pls_device_summary(<include refid="selectColumns"/>)
        values
        <foreach collection="deviceSummaryForms" item="item" separator=",">
            (#{item.id},#{item.summaryDate},#{item.summaryCategory},#{item.summaryType},#{item.val},#{item.name},#{item.deviceId},#{item.pressureValue},
            #{item.enterpriseId},#{item.userBy},#{item.curr},#{item.userBy},#{item.curr},#{item.isDel},#{item.areaCode},#{item.dataDensity})
        </foreach>
    </insert>

    <update id="addCuurs">
        insert into pls_device_summary_curr(<include refid="selectColumns"/>)
        values
        <foreach collection="deviceSummaryForms" item="item" separator=",">
            (#{item.id},#{item.summaryDate},#{item.summaryCategory},#{item.summaryType},#{item.val},#{item.name},#{item.deviceId},#{item.pressureValue},
            #{item.enterpriseId},#{item.userBy},#{item.curr},#{item.userBy},#{item.curr},#{item.isDel},#{item.areaCode},#{item.dataDensity})
        </foreach>
        ON DUPLICATE KEY UPDATE
        val = VALUES(val),
        summary_date = VALUES(summary_date)
    </update>

    <update id="edits">
        <foreach collection="deviceSummaryForms" item="item" index="index" separator=";">
            update pls_device_summary
            <set>
                val = #{item.val},
                <if test="item.pressureValue != null">
                    pressure_value = #{item.pressureValue},
                </if>
                summary_date = #{item.summaryDate},
                last_by = #{item.userBy},
                last_date = #{item.curr}
            </set>
            where enterprise_id =#{item.enterpriseId} and id = #{item.id}
        </foreach>
    </update>

    <delete id="dels">
        delete from pls_device_summary
        where id in (<foreach collection="deviceSummaryForms" item="item" separator=",">#{item.id}</foreach>)
    </delete>

    <delete id="delByType">
        delete from pls_device_summary
        where summary_type in (<foreach collection="list" item="item" separator=",">#{item}</foreach>)
        <if test="date != null ">
            AND summary_date &gt;= STR_TO_DATE(DATE_FORMAT(#{date},'%Y-%m-%d'),'%Y-%m-%d')
        </if>
    </delete>


    <select id="getCurr" resultMap="DeviceSummaryVoMap">
        SELECT
        <choose>
            <when test="deviceId == null">
                SUM(val) as sumval,
                AVG(val) as avgval,
                MAX(val) as maxval,
                YEAR(summary_date) as 'groupDate',
                YEAR(summary_date) as 'summary_date',
            </when>
            <otherwise>
                val as sumval,
                val as avgval,
                val as maxval,
                summary_date as 'groupDate',
                summary_date as 'summary_date',
            </otherwise>
        </choose>
        <include refid="selectColumns"/>
        from pls_device_summary_curr
        <where>
            enterprise_id = #{enterpriseId}
            and is_del = #{isDel}
            <if test="deviceId != null and deviceId != ''">
                and device_id = #{deviceId}
            </if>
            <if test="summaryCategory != null and summaryCategory != ''">
                and summary_category = #{summaryCategory}
            </if>
            <if test="summaryType != null and summaryType != ''">
                and summary_type = #{summaryType}
            </if>
            <if test="dataDensity != null and dataDensity != '' ">
                and data_density = #{dataDensity}
            </if>
        </where>
        <if test="deviceId == null">
            GROUP BY summary_category,summary_type
        </if>
    </select>
    <select id="listGroup" resultMap="DeviceSummaryVoMap">
        select
        <choose>
            <when test="group == 'year'">
                SUM(val) as sumval,
                AVG(val) as avgval,
                MAX(val) as maxval,
                YEAR(summary_date) as 'groupDate',
                YEAR(summary_date) as 'summary_date',
            </when>
            <when test="group == 'month'">
                SUM(val) as sumval,
                AVG(val) as avgval,
                MAX(val) as maxval,
                date_format(summary_date, '%Y%m') as 'groupDate',
                date_format(summary_date, '%Y-%m-01') as 'summary_date',
            </when>
            <when test="group == 'week'">
                SUM(val) as sumval,
                AVG(val) as avgval,
                MAX(val) as maxval,
                date_format(summary_date, '%x%v') as 'groupDate',
                subdate(summary_date,if (date_format(summary_date, '%w') = 0, 6,date_format(summary_date, '%w')-1)) AS
                'summary_date',
            </when>
            <when test="group == 'day' and dataDensity == 'hour'">
                SUM(val) as sumval,
                AVG(val) as avgval,
                MAX(val) as maxval,
                date_format(summary_date, '%Y%m%d') as 'groupDate',
                date_format(summary_date, '%Y-%m-%d') as 'summary_date',
            </when>
            <when test="group == 'day' and deviceId == null and dataDensity == 'day' ">
                SUM(val) as sumval,
                AVG(val) as avgval,
                MAX(val) as maxval,
                summary_date as 'groupDate',
                summary_date as 'summary_date',
            </when>
            <otherwise>
                val as sumval,
                val as avgval,
                val as maxval,
                summary_date as 'groupDate',
                summary_date as 'summary_date',
            </otherwise>
        </choose>

        id,summary_category,summary_type,val,`name`,device_id,pressure_value, enterprise_id,create_by,
        create_date,last_by,last_date,is_del,area_code,data_density
        from pls_device_summary
        <where>
            enterprise_id = #{enterpriseId}
            and is_del = #{isDel}
            <if test="summaryCategory != null and summaryCategory != ''">
                and summary_category = #{summaryCategory}
            </if>
            <if test="summaryType != null and summaryType != ''">
                and summary_type = #{summaryType}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and device_id = #{deviceId}
            </if>
            <if test="startDate != null ">
                AND STR_TO_DATE(DATE_FORMAT(summary_date,'%Y-%m-%d'),'%Y-%m-%d') &gt;=
                STR_TO_DATE(DATE_FORMAT(#{startDate},'%Y-%m-%d'),'%Y-%m-%d')
            </if>
            <if test="endDate != null ">
                AND STR_TO_DATE(DATE_FORMAT(summary_date,'%Y-%m-%d'),'%Y-%m-%d') &lt;=STR_TO_DATE(DATE_FORMAT(#{endDate},'%Y-%m-%d'),'%Y-%m-%d')
            </if>
            <if test="dataDensity != null and dataDensity != '' ">
                and data_density = #{dataDensity}
            </if>
        </where>
        <choose>
            <when test="group != null ">
                GROUP BY summary_category,summary_type,groupDate
                order by groupDate desc ,summary_date desc
            </when>
            <otherwise>
                order by summary_date desc
            </otherwise>
        </choose>
        <!--<if test="pageSize != null">-->
        <!--limit #{pageSize}-->
        <!--</if>-->
    </select>


    <select id="inOutWaterListGroup" resultMap="DeviceSummaryVoMap">
        select
        <choose>
            <when test="group == 'year'">
                SUM(val) as sumval,
                AVG(val) as avgval,
                MAX(val) as maxval,
                YEAR(summary_date) as 'groupDate',
                YEAR(summary_date) as 'summary_date',
            </when>
            <when test="group == 'month'">
                SUM(val) as sumval,
                AVG(val) as avgval,
                MAX(val) as maxval,
                date_format(summary_date, '%Y%m') as 'groupDate',
                date_format(summary_date, '%Y-%m-01') as 'summary_date',
            </when>
            <when test="group == 'week'">
                SUM(val) as sumval,
                AVG(val) as avgval,
                MAX(val) as maxval,
                date_format(summary_date, '%x%v') as 'groupDate',
                subdate(summary_date,date_format(summary_date,'%w')-1) as 'summary_date',
            </when>
            <when test="group == 'day' and dataDensity == 'hour'">
                SUM(val) as sumval,
                AVG(val) as avgval,
                MAX(val) as maxval,
                date_format(summary_date, '%Y%m%d %H') as 'groupDate',
                date_format(summary_date, '%Y-%m-%d %H') as 'summary_date',
            </when>
            <when test="group == 'day' and deviceId == null and dataDensity == 'day' ">
                SUM(val) as sumval,
                AVG(val) as avgval,
                MAX(val) as maxval,
                summary_date as 'groupDate',
                summary_date as 'summary_date',
            </when>
            <otherwise>
                val as sumval,
                val as avgval,
                val as maxval,
                summary_date as 'groupDate',
                summary_date as 'summary_date',
            </otherwise>
        </choose>

        id,summary_category,summary_type,val,`name`,device_id,pressure_value, enterprise_id,create_by,
        create_date,last_by,last_date,is_del,area_code,data_density
        from pls_device_summary
        <where>
            enterprise_id = #{enterpriseId}
            and is_del = #{isDel}
            <if test="summaryCategory != null and summaryCategory != ''">
                and summary_category = #{summaryCategory}
            </if>
            <if test="summaryType != null and summaryType != ''">
                and summary_type = #{summaryType}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and device_id = #{deviceId}
            </if>
            <if test="startDate != null ">
                AND STR_TO_DATE(DATE_FORMAT(summary_date,'%Y-%m-%d'),'%Y-%m-%d') &gt;=
                STR_TO_DATE(DATE_FORMAT(#{startDate},'%Y-%m-%d'),'%Y-%m-%d')
            </if>
            <if test="endDate != null ">
                AND STR_TO_DATE(DATE_FORMAT(summary_date,'%Y-%m-%d'),'%Y-%m-%d') &lt;=STR_TO_DATE(DATE_FORMAT(#{endDate},'%Y-%m-%d'),'%Y-%m-%d')
            </if>
            <if test="dataDensity != null and dataDensity != '' ">
                and data_density = #{dataDensity}
            </if>
        </where>
        <choose>
            <when test="group != null ">
                GROUP BY summary_category,summary_type,groupDate,device_id
                order by groupDate desc ,summary_date desc
            </when>
            <otherwise>
                order by summary_date desc
            </otherwise>
        </choose>
        <!--<if test="pageSize != null">-->
        <!--limit #{pageSize}-->
        <!--</if>-->
    </select>


    <select id="getSummary" resultMap="DeviceSummaryVoMap">
        SELECT
        SUM(val) as sumval,
        AVG(val) as avgval,
        MAX(val) as maxval,
        <include refid="selectColumns"/>
        from pls_device_summary
        <where>
            enterprise_id = #{enterpriseId}
            and is_del = #{isDel}
            <if test="deviceId != null and deviceId != ''">
                and device_id = #{deviceId}
            </if>
            <if test="summaryCategory != null and summaryCategory != ''">
                and summary_category = #{summaryCategory}
            </if>
            <if test="summaryType != null and summaryType != ''">
                and summary_type = #{summaryType}
            </if>
            <if test="dataDensity != null and dataDensity != '' ">
                and data_density = #{dataDensity}
            </if>
            <if test="startDate != null ">
                AND summary_date &gt;= STR_TO_DATE(DATE_FORMAT(#{startDate},'%Y-%m-%d'),'%Y-%m-%d')
            </if>
            <if test="endDate != null ">
                AND summary_date &lt;=STR_TO_DATE(DATE_FORMAT(#{endDate},'%Y-%m-%d'),'%Y-%m-%d')
            </if>
        </where>
    </select>

</mapper>
