<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dotop.pipe.api.dao.common.ICommonUploadDao">

    <resultMap id="DictionaryVoMap"
               type="com.dotop.pipe.core.vo.common.CommonUploadVo">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="original_name" jdbcType="VARCHAR" property="originalName"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="third_id" jdbcType="VARCHAR" property="thirdId"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
    </resultMap>

    <select id="get" resultMap="DictionaryVoMap"
            parameterType="java.util.Map">
        SELECT id,type,file_name,file_path,original_name,third_id FROM pls_common_upload
        <where>
            <if test="ids != null and ids.size() >0 ">
                id in
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>

            <if test="thirdId != null and thirdId != ''">
                AND third_id=#{thirdId}
            </if>
            AND is_del=0
        </where>
    </select>

    <delete id="del" parameterType="java.util.Map">
        delete from pls_common_upload
        <where>
            <if test="ids != null and ids.size() >0 ">
                id in
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="thirdId != null">
                and third_id = #{thirdId}
            </if>
        </where>
    </delete>

    <insert id="add">
		INSERT INTO pls_common_upload
		(id, type, original_name ,file_name, file_path,create_date,create_by,last_date,last_by, is_del,third_id)
		VALUES
		(#{id}, 'png', #{originalName},
		#{fileName}, #{filePath}, #{createDate}, #{createBy}, #{lastDate}, #{lastBy},#{isDel},#{thirdId});
	</insert>

    <update id="updateThirdId" parameterType="java.util.Map">
        update pls_common_upload set third_id = #{thirdId}
        <where>
            <if test="fileIdList != null">
                id in
                <foreach collection="fileIdList" separator="," open="(" close=")" item="id">
                    #{id}
                </foreach>
            </if>
        </where>
    </update>
</mapper>