<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.dotop.smartwater.project.module.dao.revenue.IInstallTemplateFunctionDao">

	<resultMap id="InstallFunctionVo"
		type="com.dotop.smartwater.project.module.core.water.vo.InstallFunctionVo">
		
		<!-- 主键 -->
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="table_name" jdbcType="VARCHAR" property="tableName" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="is_head" jdbcType="VARCHAR" property="isHead" />
		<result column="page_url" jdbcType="VARCHAR" property="pageUrl" />
	</resultMap>

	<select id="getFuncs" resultMap="InstallFunctionVo"
		parameterType="java.util.Map">
		SELECT * FROM install_function 
	</select>
</mapper>