<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.dotop.smartwater.project.module.dao.revenue.IInstallTemplateRelationDao">

	<resultMap id="InstallTemplateRelationVo"
		type="com.dotop.smartwater.project.module.core.water.vo.InstallTemplateRelationVo">
		<!-- 主键 -->
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="template_id" jdbcType="VARCHAR" property="templateId" />
		<result column="function_id" jdbcType="VARCHAR" property="functionId" />
		<result column="no" jdbcType="VARCHAR" property="no" />
		<result column="explain" jdbcType="VARCHAR" property="explain" />
		<result column="upload_file" jdbcType="VARCHAR" property="uploadFile" />
		<result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseid" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="last_by" jdbcType="VARCHAR" property="lastBy" />
		<result column="last_date" jdbcType="TIMESTAMP" property="lastDate" />
		
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="is_head" jdbcType="VARCHAR" property="isHead" />
		<result column="page_url" jdbcType="VARCHAR" property="pageUrl" />
		
	</resultMap>
	
	<insert id="saveTempRelations">
        INSERT INTO `install_template_relation` (`id`,`template_id`,`function_id`,`no`,`explain`,`upload_file`,`enterprise_id`,create_by,create_date)
           VALUES  
            <foreach collection ="list" item="item" index= "index" separator =",">
			(#{item.id}, #{item.templateId}, #{item.functionId}, #{item.no}, #{item.explain},#{item.uploadFile},#{item.enterpriseid}, #{item.userBy}, #{item.curr})
            </foreach >
	</insert>
	
	<select id="getRelations" resultMap="InstallTemplateRelationVo">
		SELECT r.* , f.`name` , f.is_head , f.page_url FROM install_template_relation r LEFT JOIN install_function f ON r.function_id = f.id 
		where r.`template_id` = #{templateId}  ORDER BY r.`no` ASC
	</select>
	
	<delete id="deleteRelations">
        delete from `install_template_relation` where template_id=#{templateId}
    </delete>
</mapper>