<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dotop.smartwater.view.server.dao.water.owner.IOwnerDao">

    <sql id="selectColumns">
        ownerid,
        userno,
        username,
        devid,
        communityid,
        enterprise_id,
        create_by,
        create_date,
        last_by,
        last_date,
        is_del
    </sql>

    <resultMap id="OwnerVoMap"
               type="com.dotop.smartwater.view.server.core.owner.vo.OwnerVo">
        <result column="ownerid" jdbcType="VARCHAR" property="ownerId"/>
        <result column="userno" jdbcType="VARCHAR" property="userNo"/>
        <result column="username" jdbcType="VARCHAR" property="userName"/>
        <result column="devid" jdbcType="VARCHAR" property="devId"/>
        <result column="communityid" jdbcType="VARCHAR" property="communityId"/>
        <result column="enterpriseid" jdbcType="VARCHAR" property="enterpriseId"/>
    </resultMap>

    <select id="list" resultMap="OwnerVoMap">
        select <include refid="selectColumns"/>
        from owner
        <where>
            enterpriseid = #{enterpriseId}
            <if test="communityId != null and communityId != ''">
                and communityid = #{communityId}
            </if>
        </where>
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from owner
        <where>
            enterpriseid = #{enterpriseId}
            <if test="communityId != null and communityId != ''">
                and communityid = #{communityId}
            </if>
        </where>
    </select>
</mapper>
