<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
        namespace="com.dotop.pipe.api.dao.third.IThirdMapDao">

    <resultMap id="ThirdMapVoMap"
               type="com.dotop.pipe.core.vo.third.ThirdMapVo">
        <result column="map_id" jdbcType="VARCHAR" property="mapId"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="device_code" jdbcType="VARCHAR" property="deviceCode"/>
        <result column="third_id" jdbcType="VARCHAR" property="thirdId"/>
        <result column="third_code" jdbcType="VARCHAR" property="thirdCode"/>
        <result column="device_type" jdbcType="VARCHAR" property="deviceType"/>
        <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId"/>
        <result column="factory_name" jdbcType="VARCHAR" property="factoryName"/>
        <result column="protocol" jdbcType="VARCHAR" property="protocol"/>
    </resultMap>

    <insert id="add">
		INSERT INTO pls_third_map
		(map_id, device_id, device_code,device_type, third_id, third_code, create_by, create_date, last_by, last_date, is_del, enterprise_id,factory_name,protocol)
		VALUES
		(#{mapId}, #{deviceId},	#{deviceCode}, #{deviceType}, #{thirdId}, #{thirdCode},	#{userBy},	#{curr}, #{userBy},
		#{curr}, #{isDel}, #{enterpriseId}, #{factoryName},#{protocol});
	</insert>

    <update id="del">
        UPDATE pls_third_map SET
        is_del=#{newIsDel},last_by=#{userBy}, last_date=#{curr}
        WHERE
        enterprise_id=#{enterpriseId}
        <if test="deviceId != null and deviceId != ''">
            AND device_id=#{deviceId}
        </if>
        <if test="deviceCode != null and deviceCode != ''">
            AND device_code=#{deviceCode}
        </if>
        AND is_del=#{isDel}
    </update>

    <select id="isExist" resultType="java.lang.Boolean">
        SELECT EXISTS
        (
        SELECT map_id FROM pls_third_map
        <where>
            enterprise_id=#{enterpriseId} AND is_del=#{isDel}
            <if test="deviceId != null and deviceId != ''">
                AND device_id=#{deviceId}
            </if>
            <if test="deviceCode != null and deviceCode != ''">
                AND device_code=#{deviceCode}
            </if>
            <if test="thirdId != null and thirdId != ''">
                AND third_id=#{thirdId}
            </if>
            <if test="thirdCode != null and thirdCode != ''">
                AND third_code=#{thirdCode}
            </if>
            <if test="factoryName != null and factoryName != ''">
                AND factory_name=#{factoryName}
            </if>
        </where>
        )
    </select>

    <select id="get" resultMap="ThirdMapVoMap">
        SELECT map_id, device_id, device_code, device_type,
        third_id,
        third_code, enterprise_id,
        factory_name,protocol
         FROM pls_third_map
        <where>
            enterprise_id=#{enterpriseId}
            <if test="deviceId != null and deviceId != ''">
                AND device_id=#{deviceId}
            </if>
            <if test="deviceCode != null and deviceCode != ''">
                AND device_code=#{deviceCode}
            </if>
            <if test="factoryName != null and factoryName != ''">
                AND factory_name=#{factoryName}
            </if>
            <if test="isDel != null">
                AND is_del=#{isDel}
            </if>
        </where>
    </select>

    <select id="list" resultMap="ThirdMapVoMap">
        select a.map_id, a.device_id, a.device_code, a.third_id, a.third_code, a.enterprise_id
        from pls_third_map as a
        JOIN pls_device AS b ON a.device_id = b.device_id AND a.is_del=#{isDel} AND b.is_del=#{isDel}
        <where>
            <if test="enterpriseId != null and enterpriseId != ''">
                and a.enterprise_id=#{enterpriseId}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and a.device_id=#{deviceId}
            </if>
            <if test="factoryName != null and factoryName != ''">
                and a.factory_name=#{factoryName}
            </if>
        </where>
        <if test="limit!=null and offset!=null">
            ORDER BY a.last_date DESC
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <update id="edit">
        update pls_third_map
        <set>
            <if test="thirdId != null and thirdId != ''">
                third_id = #{thirdId},
            </if>
            <if test="deviceCode != null and deviceCode != ''">
                device_code=#{deviceCode},
            </if>
            <if test="thirdCode != null and thirdCode != ''">
                third_code = #{thirdCode},
            </if>
            <if test="factoryName != null and factoryName != ''">
                factory_name = #{factoryName},
            </if>
            <if test="protocol != null and protocol != ''">
                protocol = #{protocol},
            </if>
            <if test="curr != null">
                last_date = #{curr},
            </if>
        </set>
        <where>
            map_id = #{mapId} and enterprise_id = #{enterpriseId} and is_del = #{isDel}
        </where>
    </update>

    <!-- <select id="listCount" resultType="INTEGER"> -->
    <!-- SELECT count(a.map_id) -->
    <!-- FROM third_map AS a JOIN sensor AS b ON a.sensor_id = b.sensor_id AND
        a.is_del=#{isDel} AND b.is_del=#{isDel} -->
    <!-- <where> -->
    <!-- <if test="enterpriseId != null and enterpriseId != ''"> -->
    <!-- AND a.enterprise_id=#{enterpriseId} -->
    <!-- </if> -->
    <!-- <if test="isDel != null"> -->
    <!-- AND a.is_del=#{isDel} -->
    <!-- </if> -->
    <!-- <if test="sensorFactory != null and sensorFactory != ''"> -->
    <!-- AND b.factory=#{sensorFactory} -->
    <!-- </if> -->
    <!-- <if test="sensorType != null and sensorType != ''"> -->
    <!-- AND b.type=#{sensorType} -->
    <!-- </if> -->
    <!-- </where> -->
    <!-- </select> -->

</mapper>
