<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dotop.smartwater.project.third.server.meterread.client2.dao.third.IThirdDao">

    <resultMap id="RemoteDataMap"
               type="com.dotop.smartwater.project.third.server.meterread.client2.core.third.vo.RemoteDataVo">
        <result column="ID" jdbcType="INTEGER" property="id"/>
        <result column="MeterId" jdbcType="VARCHAR" property="meterId"/>
        <result column="UserCode" jdbcType="INTEGER" property="userCode"/>
        <result column="ReadDate" jdbcType="TIMESTAMP" property="readDate"/>
        <result column="ReadNumber" jdbcType="VARCHAR" property="readNumber"/>
    </resultMap>

    <select id="getList" resultMap="RemoteDataMap">
        SELECT UserCode, MAX(ReadDate) as ReadDate,MAX(ReadNumber) as ReadNumber FROM dj_sb_sj
        <where>
            UserCode in
            <foreach collection="userCodes" item="userCode" close=")" open="(" separator=",">#{userCode}</foreach>
        </where>
        GROUP BY UserCode
    </select>

    <update id="updates">
        <foreach collection="remoteDatas" item="remoteData">
            update dj_sb_sj
            set MeterId = #{remoteData.meterId},
            UserCode = #{remoteData.userCode},
            ReadDate = #{remoteData.readDate},
            ReadNumber = #{remoteData.readNumber},
            where MeterId = #{remoteData.MeterId};
        </foreach>
    </update>

    <insert id="inserts">
        insert into dj_sb_sj(MeterId, UserCode, ReadDate, ReadNumber)
        values
        <foreach collection="remoteDatas" item="remoteData" separator=",">
            (#{remoteData.meterId},#{remoteData.userCode},#{remoteData.readDate},#{remoteData.readNumber})
        </foreach>
    </insert>

</mapper>