<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
        namespace="com.dotop.pipe.api.dao.device.IDeviceDao">

    <resultMap id="DeviceVoMap" type="com.dotop.pipe.core.vo.device.DeviceVo">
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="des" jdbcType="VARCHAR" property="des"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="length" jdbcType="VARCHAR" property="length"/>
        <result column="depth" jdbcType="VARCHAR" property="depth"/>
        <result column="pipe_elevation" jdbcType="VARCHAR" property="pipeElevation"/>
        <result column="ground_elevation" jdbcType="VARCHAR" property="groundElevation"/>
        <result column="acreage" jdbcType="VARCHAR" property="acreage"/>
        <result column="scale" jdbcType="VARCHAR" property="scale"/>
        <result column="angle" jdbcType="VARCHAR" property="angle"/>
        <result column="device_count" jdbcType="VARCHAR" property="deviceCount"/>
        <result column="install_date" jdbcType="TIMESTAMP" property="installDate"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="last_by" jdbcType="VARCHAR" property="lastBy"/>
        <result column="last_date" jdbcType="TIMESTAMP" property="lastDate"/>
        <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId"/>
        <result column="deviceCount" jdbcType="VARCHAR" property="deviceCount"/>
        <result column="device_map_id" jdbcType="VARCHAR" property="deviceMapId"/>
        <result column="collection_id" jdbcType="VARCHAR" property="collectionId"/>
        <result column="product_category" jdbcType="VARCHAR" property="productCategory"/>
        <result column="product_type" jdbcType="VARCHAR" property="productType"/>
        <result column="protocol" jdbcType="VARCHAR" property="protocol"/>

        <association property="laying" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
            <result column="laying_id" jdbcType="VARCHAR" property="id"/>
            <result column="laying_name" jdbcType="VARCHAR" property="name"/>
        </association>

        <association property="area" javaType="com.dotop.pipe.core.vo.area.AreaModelVo">
            <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
            <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
            <result column="area_name" jdbcType="VARCHAR" property="name"/>
            <result column="area_des" jdbcType="VARCHAR" property="des"/>
            <result column="area_color_num" jdbcType="VARCHAR" property="areaColorNum"/>
            <result column="area_scale" jdbcType="VARCHAR" property="scale"/>
        </association>

        <association property="deviceProperty" javaType="com.dotop.pipe.core.vo.device.DevicePropertyVo">
            <result column="flw_rate" jdbcType="VARCHAR" property="flwRate"/>
            <result column="flw_total_value" jdbcType="VARCHAR" property="flwTotalValue"/>
            <result column="flw_measure" jdbcType="VARCHAR" property="flwMeasure"/>
            <result column="pressure_value" jdbcType="VARCHAR" property="pressureValue"/>
            <result column="quality_chlorine" jdbcType="VARCHAR" property="qualityChlorine"/>
            <result column="quality_oxygen" jdbcType="VARCHAR" property="qualityOxygen"/>
            <result column="quality_ph" jdbcType="VARCHAR" property="qualityPh"/>
            <result column="quality_turbid" jdbcType="VARCHAR" property="qualityTurbid"/>
            <result column="quality_tem_one" jdbcType="VARCHAR" property="qualityTemOne"/>
            <result column="quality_tem_two" jdbcType="VARCHAR" property="qualityTemTwo"/>
            <result column="quality_tem_three" jdbcType="VARCHAR" property="qualityTemThree"/>
            <result column="quality_tem_four" jdbcType="VARCHAR" property="qualityTemFour"/>
        </association>


        <association property="product" javaType="com.dotop.pipe.core.vo.product.ProductVo">
            <result column="product_id" jdbcType="VARCHAR" property="productId"/>
            <result column="product_code" jdbcType="VARCHAR" property="code"/>
            <result column="product_name" jdbcType="VARCHAR" property="name"/>
            <result column="product_des" jdbcType="VARCHAR" property="des"/>
            <association property="category" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
                <result column="product_category_name" jdbcType="VARCHAR" property="name"/>
                <result column="product_category_val" jdbcType="VARCHAR" property="val"/>
            </association>
            <association property="type" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
                <result column="product_type_name" jdbcType="VARCHAR" property="name"/>
                <result column="product_type_val" jdbcType="VARCHAR" property="val"/>
            </association>
            <association property="factory" javaType="com.dotop.pipe.core.vo.factory.FactoryVo">
                <result column="factory_id" jdbcType="VARCHAR" property="factoryId"/>
                <result column="factory_code" jdbcType="VARCHAR" property="code"/>
                <result column="factory_name" jdbcType="VARCHAR" property="name"/>
            </association>
            <association property="caliber" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
                <result column="caliber_id" jdbcType="VARCHAR" property="id"/>
                <result column="caliber_name" jdbcType="VARCHAR" property="name"/>
                <result column="caliber_val" jdbcType="VARCHAR" property="val"/>
            </association>
            <association property="material" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
                <result column="material_id" jdbcType="VARCHAR" property="id"/>
                <result column="material_name" jdbcType="VARCHAR" property="name"/>
                <result column="material_val" jdbcType="VARCHAR" property="val"/>
            </association>
        </association>

        <collection property="points" ofType="com.dotop.pipe.core.vo.point.PointVo"
                    javaType="java.util.List" column="device_id" select="queryPointsById">
            <result column="point_id" jdbcType="VARCHAR" property="pointId"/>
            <result column="point_code" jdbcType="VARCHAR" property="code"/>
            <result column="point_name" jdbcType="VARCHAR" property="name"/>
            <result column="point_des" jdbcType="VARCHAR" property="des"/>
            <result column="point_longitude" jdbcType="VARCHAR" property="longitude"/>
            <result column="point_latitude" jdbcType="VARCHAR" property="latitude"/>
            <result column="point_remark" jdbcType="VARCHAR" property="remark"/>
        </collection>
    </resultMap>

    <resultMap id="pointsVoMap" type="com.dotop.pipe.core.vo.point.PointVo">
        <result column="point_id" jdbcType="VARCHAR" property="pointId"/>
        <result column="point_code" jdbcType="VARCHAR" property="code"/>
        <result column="point_name" jdbcType="VARCHAR" property="name"/>
        <result column="point_des" jdbcType="VARCHAR" property="des"/>
        <result column="point_longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="point_latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="point_remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <resultMap id="DeviceFieldVoMap" type="com.dotop.pipe.core.vo.device.DeviceFieldVo">
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="val" jdbcType="VARCHAR" property="val"/>
    </resultMap>

    <resultMap id="DevicePropertyVoMap" type="com.dotop.pipe.core.vo.device.DevicePropertyVo">
        <result column="dev_pro_id" jdbcType="VARCHAR" property="devProId"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="device_code" jdbcType="VARCHAR" property="deviceCode"/>
        <result column="flw_measure" jdbcType="VARCHAR" property="flwMeasure"/>
        <result column="flw_rate" jdbcType="VARCHAR" property="flwRate"/>
        <result column="flw_total_value" jdbcType="VARCHAR" property="flwTotalValue"/>
        <result column="pressure_value" jdbcType="VARCHAR" property="pressureValue"/>
        <result column="quality_chlorine" jdbcType="VARCHAR" property="qualityChlorine"/>
        <result column="quality_oxygen" jdbcType="VARCHAR" property="qualityOxygen"/>
        <result column="quality_ph" jdbcType="VARCHAR" property="qualityPh"/>
        <result column="quality_turbid" jdbcType="VARCHAR" property="qualityTurbid"/>
        <result column="quality_tem_one" jdbcType="VARCHAR" property="qualityTemOne"/>
        <result column="quality_tem_two" jdbcType="VARCHAR" property="qualityTemTwo"/>
        <result column="quality_tem_three" jdbcType="VARCHAR" property="qualityTemThree"/>
        <result column="quality_tem_four" jdbcType="VARCHAR" property="qualityTemFour"/>
        <result column="high_low_alarm" jdbcType="VARCHAR" property="highLowAlarm"/>
        <result column="bump" jdbcType="VARCHAR" property="bump"/>
        <result column="slope" jdbcType="VARCHAR" property="slope"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="val" jdbcType="VARCHAR" property="val"/>
        <result column="dev_send_date" jdbcType="TIMESTAMP" property="devSendDate"/>
        <result column="ser_rece_date" jdbcType="TIMESTAMP" property="serReceDate"/>
    </resultMap>

    <resultMap id="productVoMap" type="com.dotop.pipe.core.vo.product.ProductVo">
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_code" jdbcType="VARCHAR" property="code"/>
        <result column="product_name" jdbcType="VARCHAR" property="name"/>
        <result column="product_des" jdbcType="VARCHAR" property="des"/>
        <result column="deviceCount" jdbcType="VARCHAR" property="deviceCount"/>
        <association property="category" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
            <result column="product_category_name" jdbcType="VARCHAR" property="name"/>
            <result column="product_category_val" jdbcType="VARCHAR" property="val"/>
        </association>
        <association property="type" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
            <result column="product_type_name" jdbcType="VARCHAR" property="name"/>
            <result column="product_type_val" jdbcType="VARCHAR" property="val"/>
        </association>
        <association property="factory" javaType="com.dotop.pipe.core.vo.factory.FactoryVo">
            <result column="factory_id" jdbcType="VARCHAR" property="factoryId"/>
            <result column="factory_code" jdbcType="VARCHAR" property="code"/>
            <result column="factory_name" jdbcType="VARCHAR" property="name"/>
        </association>
        <association property="caliber" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
            <result column="caliber_id" jdbcType="VARCHAR" property="id"/>
            <result column="caliber_name" jdbcType="VARCHAR" property="name"/>
            <result column="caliber_val" jdbcType="VARCHAR" property="val"/>
        </association>
        <association property="material" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
            <result column="material_id" jdbcType="VARCHAR" property="id"/>
            <result column="material_name" jdbcType="VARCHAR" property="name"/>
            <result column="material_val" jdbcType="VARCHAR" property="val"/>
        </association>
    </resultMap>

    <resultMap id="DeviceCurrVoMap" type="com.dotop.pipe.core.vo.report.DeviceCurrVo">
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="area_name" jdbcType="VARCHAR" property="area"/>
        <result column="product_category" jdbcType="VARCHAR" property="productCategory"/>
        <result column="product_type" jdbcType="VARCHAR" property="productType"/>
        <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId"/>
        <result column="alarmNum" jdbcType="INTEGER" property="alarmNum"/>
        <association property="deviceProperty" javaType="com.dotop.pipe.core.vo.device.DevicePropertyVo">
            <result column="dev_send_date" jdbcType="DATE" property="devSendDate"/>
            <result column="flw_rate" jdbcType="VARCHAR" property="flwRate"/>
            <result column="flw_measure" jdbcType="VARCHAR" property="flwMeasure"/>
            <result column="flw_total_value" jdbcType="VARCHAR" property="flwTotalValue"/>
            <result column="pressure_value" jdbcType="VARCHAR" property="pressureValue"/>
            <result column="quality_chlorine" jdbcType="VARCHAR" property="qualityChlorine"/>
            <result column="quality_oxygen" jdbcType="VARCHAR" property="qualityOxygen"/>
            <result column="quality_ph" jdbcType="VARCHAR" property="qualityPh"/>
            <result column="quality_turbid" jdbcType="VARCHAR" property="qualityTurbid"/>
            <result column="high_low_alarm" jdbcType="VARCHAR" property="highLowAlarm"/>
            <result column="bump" jdbcType="VARCHAR" property="bump"/>
            <result column="slope" jdbcType="VARCHAR" property="slope"/>
        </association>
    </resultMap>


    <insert id="add">
		INSERT INTO pls_device
		(device_id, code, name, des,
		address, length,depth, laying,
		install_date,remark,version,pipe_elevation, ground_elevation,
		create_by, create_date, last_by, last_date, is_del, enterprise_id,
		product_id, area_id,acreage,scale,device_count,angle,product_category,product_type,protocol)
		VALUES
		(#{deviceId},
		#{code}, #{name}, #{des}, #{address}, #{length},#{depth}, #{laying},
		#{installDate},#{remark},#{version},
		#{pipeElevation},#{groundElevation}, #{userBy}, #{curr},#{userBy},
		#{curr}, #{isDel}, #{enterpriseId}, #{productId}, #{areaId},#{acreage}
		,#{scale},#{deviceCount},#{angle},#{productCategory},#{productType},#{protocol})
	</insert>

    <select id="get" resultMap="DeviceVoMap">
        SELECT a.device_id,a.code, a.name, a.des,
        a.address,a.length,a.depth,a.pipe_elevation,a.ground_elevation,
        a.product_id,a.product_category,a.product_type,a.protocol,
        a.laying AS laying_id, a.install_date, a.remark,a.version,a.last_by,a.last_date,a.is_del,
        a.enterprise_id,a.acreage,a.device_count,a.scale,a.angle,
        a.area_id AS area_id, c.area_code AS area_code,c.name AS area_name,c.area_color_num,c.scale as area_scale,
        <!-- e.point_id, e.code AS point_code, e.name AS point_name, e.longitude AS
        point_longitude, e.latitude AS point_latitude,
        f.product_id,f.category AS product_category,f.type AS product_type,f.code AS
        product_code,f.name as product_name,
        g.id AS caliber_id, g.name AS caliber_name, g.val AS caliber_val,
        h.id AS material_id, h.name AS material_name, h.val AS material_val,
        i.factory_id,i.code AS factory_code,i.name AS factory_name,
        j.name AS product_category_name,j.val AS product_category_val,
        k.name AS product_type_name,k.val AS product_type_val,
        l.id AS laying_id,l.name AS laying_name, -->
        m.id as collection_id
        FROM pls_device AS a
        <!-- JOIN area_map AS b ON a.device_id=b.device_id AND a.is_del=#{isDel} AND b.is_del=#{isDel} -->
        LEFT JOIN pls_area AS c ON a.area_id=c.area_id AND a.is_del=#{isDel} AND c.is_del=#{isDel}
        JOIN pls_point_map AS d ON a.device_id = d.device_id AND a.is_del=#{isDel} AND d.is_del=#{isDel}
        JOIN pls_point AS e ON d.point_id = e.point_id AND d.is_del=#{isDel} AND e.is_del=#{isDel}
        <!-- JOIN pls_product AS f ON a.product_id = f.product_id AND a.is_del=#{isDel} AND f.is_del=#{isDel} -->
        <!-- 口径 -->
        <!-- LEFT JOIN pls_dictionary AS g ON f.caliber=g.id AND g.type='${@CommonConstants@DICTIONARY_TYPE_CALIBER}' AND f.is_del=#{isDel} AND g.is_del=#{isDel} -->
        <!-- 材质 -->
        <!-- LEFT JOIN pls_dictionary AS h ON f.material=h.id AND h.type='${@CommonConstants@DICTIONARY_TYPE_MATERIAL}' AND f.is_del=#{isDel} AND h.is_del=#{isDel} -->
        <!-- 厂商 -->
        <!-- LEFT JOIN pls_factory AS i ON f.factory_id=i.factory_id AND f.is_del=#{isDel} AND i.is_del=#{isDel} -->
        <!-- 产品类别 -->
        <!-- JOIN pls_dictionary AS j ON f.category=j.id AND j.type='${@CommonConstants@DICTIONARY_TYPE_PRODUCTCATEGORY}' AND f.is_del=#{isDel} AND j.is_del=#{isDel} -->
        <!-- 产品类型 -->
        <!-- LEFT JOIN pls_dictionary AS k ON f.type=k.id AND f.is_del=#{isDel} AND k.is_del=#{isDel} -->
        <!-- 敷设类型 -->
        <!-- LEFT JOIN pls_dictionary AS l ON a.laying=l.id AND l.type='${@CommonConstants@DICTIONARY_TYPE_LAYING}' AND a.is_del=#{isDel} AND l.is_del=#{isDel} -->
        <!-- 收藏 -->
        LEFT JOIN pls_collection as m on m.device_id = a.device_id and m.is_del = #{isDel}
        <where>
            <if test="enterpriseId != null and enterpriseId != ''">
                AND a.enterprise_id=#{enterpriseId}
            </if>
            <if test="isDel != null">
                AND a.is_del=#{isDel}
            </if>
            <if test="deviceId != null and deviceId != ''">
                AND a.device_id=#{deviceId}
            </if>
            <if test="code != null and code != ''">
                AND a.code=#{code}
            </if>
            <if test="productId != null and productId != ''">
                AND a.product_id=#{productId}
            </if>
        </where>
    </select>

    <select id="queryPointsById" parameterType="java.lang.String"
            resultMap="pointsVoMap">
		SELECT e.point_id, e.code AS point_code, e.name AS point_name, e.longitude
		AS point_longitude, e.latitude AS point_latitude
		from pls_point_map AS d
		JOIN pls_point AS e ON d.point_id = e.point_id AND d.is_del=0 AND
		e.is_del=0
		where d.device_id = #{device_id} AND d.is_del=0
	</select>

    <select id="list" resultMap="DeviceVoMap"
            parameterType="java.util.Map">
        SELECT a.device_id,a.code, a.name, a.des,
        a.address,a.length,a.depth,a.pipe_elevation,a.ground_elevation,
        a.product_id,a.product_category,a.product_type,a.protocol,
        a.laying AS laying_id, a.install_date, a.remark,a.version,a.last_by,a.last_date,a.is_del,
        a.enterprise_id,a.angle,a.scale,
        a.area_id AS area_id, c.area_code AS area_code,c.name AS area_name,c.area_color_num,c.scale as area_scale
        <!-- ,e.point_id, e.code AS point_code, e.name AS point_name, e.longitude AS point_longitude, e.latitude AS point_latitude, -->
        <!-- f.product_id,f.category AS product_category,f.type AS
        product_type,f.code AS product_code,f.name as product_name,
        g.id AS caliber_id, g.name AS caliber_name, g.val AS caliber_val,
        h.id AS material_id, h.name AS material_name, h.val AS material_val,
        i.factory_id,i.code AS factory_code,i.name AS factory_name,
        j.name AS product_category_name,j.val AS product_category_val,
        k.name AS product_type_name,k.val AS product_type_val,
        l.id AS laying_id,l.name AS laying_name -->
        FROM pls_device AS a
        <!-- JOIN area_map AS b ON a.device_id=b.device_id AND a.is_del=#{isDel}
            AND b.is_del=#{isDel} -->
        <!-- <if test="productCategory == 'region'"> -->
        <!-- LEFT -->
        <!--  </if> -->
        JOIN pls_area AS c ON a.area_id=c.area_id AND a.is_del=#{isDel} AND c.is_del=#{isDel}
        <!-- JOIN pls_point_map AS d ON a.device_id = d.device_id AND a.is_del=#{isDel} AND d.is_del=#{isDel} JOIN pls_point AS e ON d.point_id = e.point_id AND d.is_del=#{isDel} AND e.is_del=#{isDel} -->
        <!-- LEFT JOIN pls_product AS f ON a.product_id = f.product_id AND a.is_del=#{isDel} AND f.is_del=#{isDel} -->
        <!-- 口径 -->
        <!-- LEFT JOIN pls_dictionary AS g ON f.caliber=g.id AND g.type='${@CommonConstants@DICTIONARY_TYPE_CALIBER}' AND f.is_del=#{isDel} AND g.is_del=#{isDel} -->
        <!-- 材质 -->
        <!-- LEFT JOIN pls_dictionary AS h ON f.material=h.id AND h.type='${@CommonConstants@DICTIONARY_TYPE_MATERIAL}' AND f.is_del=#{isDel} AND h.is_del=#{isDel} -->
        <!-- 厂商 -->
        <!-- LEFT JOIN pls_factory AS i ON f.factory_id=i.factory_id AND f.is_del=#{isDel} AND i.is_del=#{isDel} -->
        <!-- 产品类别 -->
        <!-- JOIN pls_dictionary AS j ON f.category=j.id AND j.type='${@CommonConstants@DICTIONARY_TYPE_PRODUCTCATEGORY}' AND f.is_del=#{isDel} AND j.is_del=#{isDel} -->
        <!-- 产品类型 -->
        <!-- LEFT JOIN pls_dictionary AS k ON f.type=k.id AND f.is_del=#{isDel} AND k.is_del=#{isDel} -->
        <!-- 敷设类型 -->
        <!-- LEFT JOIN pls_dictionary AS l ON a.laying=l.id AND l.type='${@CommonConstants@DICTIONARY_TYPE_LAYING}' AND a.is_del=#{isDel} AND l.is_del=#{isDel} -->
        <where>
            <if test="deviceIds != null and deviceIds.size() > 0">
                AND a.device_id in
                <foreach collection="deviceIds" open="(" item="ele" separator="," close=")">
                    #{ele}
                </foreach>
            </if>
            <if test="enterpriseId != null and enterpriseId != ''">
                AND a.enterprise_id=#{enterpriseId}
            </if>
            <if test="isDel != null">
                AND a.is_del=#{isDel}
            </if>
            <if test="name != null and name != ''">
                AND a.name LIKE concat('%',#{name},'%')
            </if>
            <if test="code != null and code != ''">
                AND a.code LIKE concat('%',#{code},'%')
            </if>
            <if test="areaId != null and areaId != ''">
                AND c.area_id=#{areaId}
            </if>
            <if test="areaIds != null  and areaIds.size() > 0">
                AND c.area_id in
                <foreach collection="areaIds" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="productId != null and productId != ''">
                AND a.product_id=#{productId}
            </if>
            <if test="productIds != null and productIds.size() > 0">
                AND a.product_id in
                <foreach collection="productIds" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="productCategory != null and productCategory != ''">
                AND a.product_category=#{productCategory}
            </if>
            <if test="productType != null and productType != ''">
                AND a.product_type=#{productType}
            </if>
            <!--<if test="productCategory != null and productCategory != ''">-->
            <!--AND j.val=#{productCategory}-->
            <!--</if>-->
            <!--<if test="productType != null and productType != ''">-->
            <!--AND k.val=#{productType}-->
            <!--</if>-->
        </where>

        <if test="limit!=null and offset!=null">
            ORDER BY a.last_date DESC
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <!-- <select id="listCount" resultType="INTEGER" -->
    <!-- parameterType="java.util.Map"> -->
    <!-- SELECT count(a.device_id) -->
    <!-- FROM device AS a -->
    <!-- JOIN area_map AS f ON a.device_id=f.other_id AND f.map_type=#{category}
        AND f.is_del=#{isDel} -->
    <!-- JOIN area AS g ON f.area_id=g.area_id AND f.map_type=#{category} AND
        g.is_del=#{isDel} -->
    <!-- JOIN point_map AS h ON a.device_id = h.other_id AND h.map_type=#{category}
        AND a.is_del=#{isDel} AND h.is_del=#{isDel} -->
    <!-- JOIN point AS i ON h.point_id = i.point_id AND h.map_type=#{category}
        AND h.is_del=#{isDel} AND i.is_del=#{isDel} -->
    <!-- JOIN product as j on a.product_id = j.product_id -->
    <!-- LEFT JOIN dictionary AS d ON j.caliber=d.id AND d.type='${@CommonConstants@DICTIONARY_TYPE_CALIBER}'
        AND d.is_del=#{isDel} -->
    <!-- LEFT JOIN dictionary AS e ON j.material=e.id AND e.type='${@CommonConstants@DICTIONARY_TYPE_MATERIAL}'
        AND e.is_del=#{isDel} -->
    <!-- <where> -->
    <!-- <if test="enterpriseId != null and enterpriseId != ''"> -->
    <!-- AND enterprise_id=#{enterpriseId} -->
    <!-- </if> -->
    <!-- <if test="isDel != null"> -->
    <!-- AND is_del=#{isDel} -->
    <!-- </if> -->
    <!-- <if test="code != null and code != ''"> -->
    <!-- AND code=#{code} -->
    <!-- </if> -->
    <!-- </where> -->
    <!-- </select> -->

    <update id="edit" parameterType="java.util.Map">
        UPDATE pls_device
        <trim prefix="set" suffixOverrides=",">
            <if test="code != null and code != ''">
                code=#{code},
            </if>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="des != null and des != ''">
                des=#{des},
            </if>
            <if test="address != null">
                address=#{address},
            </if>
            <if test="pipeElevation != null">
                pipe_elevation=#{pipeElevation},
            </if>
            <if test="groundElevation != null">
                ground_elevation=#{groundElevation},
            </if>
            <if test="depth != null">
                depth=#{depth},
            </if>
            <if test="length != null">
                length=#{length},
            </if>
            <if test="laying != null">
                laying=#{laying},
            </if>
            <if test="installDate != null">
                install_date=#{installDate},
            </if>
            <if test="remark != null and remark != ''">
                remark=#{remark},
            </if>
            <if test="version != null and version != ''">
                version=#{version},
            </if>
            <if test="userBy != null and userBy != ''">
                last_by=#{userBy},
            </if>
            <if test="curr != null">
                last_date=#{curr},
            </if>
            <if test="areaId != null">
                area_id=#{areaId},
            </if>
            <if test="angle != null">
                angle=#{angle},
            </if>
            <if test="scale != null">
                scale=#{scale},
            </if>
            <if test="protocol != null">
                protocol=#{protocol},
            </if>
            <if test="productId != null  and productId != ''">
                product_id=#{productId},
            </if>
        </trim>
        WHERE
        enterprise_id=#{enterpriseId} AND device_id=#{deviceId} AND
        is_del=#{isDel}
    </update>

    <update id="del" parameterType="java.util.Map">
        UPDATE pls_device SET
        is_del=#{newIsDel},last_by=#{userBy},
        last_date=#{curr}
        WHERE
        enterprise_id=#{enterpriseId}

        <if test="deviceId != null and deviceId != ''">
            AND device_id=#{deviceId}
        </if>

        <if test="deviceIds != null">
            AND device_id IN
            <foreach collection="deviceIds" index="index"
                     item="deviceId1" open="(" separator="," close=")">
                #{deviceId1}
            </foreach>
        </if>
        AND is_del=#{isDel}
    </update>

    <select id="isExist" resultType="java.lang.Boolean">
        SELECT EXISTS
        (
        SELECT device_id FROM pls_device
        <where>
            AND is_del=#{isDel}
            <if test="code != null and code != ''">
                AND code=#{code}
            </if>
            <if test="deviceId != null and deviceId != ''">
                AND device_id=#{deviceId}
            </if>
            <if test="productId != null and productId != ''">
                AND product_id=#{productId}
            </if>
            <if test="areaId != null and areaId != ''">
                AND area_id=#{areaId}
            </if>
            <!--<if test="enterpriseId != null and enterpriseId != ''">-->
            <!-- 判断code全局唯一 -->
            <!--AND enterprise_id=#{enterpriseId}-->
            <!--</if>-->
        </where>
        )
    </select>

    <select id="getDeviceField" resultMap="DeviceFieldVoMap">
        SELECT a.device_id, a.code, a.name ,a.product_type as val FROM
        pls_device AS a
        <where>
            AND a.is_del=#{isDel}
            and a.product_category = 'sensor'
            <if test="enterpriseId != null and enterpriseId != ''">
                AND a.enterprise_id=#{enterpriseId}
            </if>
            <if test="deviceCode != null and deviceCode != 'undefined' and deviceCode != 'null' and deviceCode != ''">
                AND a.code LIKE concat('%',#{deviceCode},'%')
            </if>
        </where>
    </select>

    <select id="getDeviceRealTime" resultMap="DevicePropertyVoMap">
        <choose>
            <when test="fieldType != null">
                select device_id,device_code,dev_send_date,ser_rece_date
                <foreach collection="fieldType" index="index" item="item">
                    , ${item.lowcode}
                </foreach>
            </when>
            <otherwise>
                select *
            </otherwise>
        </choose>
        from pls_device_data

        <where>
            AND is_del= 0
            <if test="deviceIds != null">
                AND device_id IN
                <foreach collection="deviceIds" index="index"
                         item="deviceId" open="(" separator="," close=")">
                    #{deviceId}
                </foreach>
            </if>
            <if test="enterpriseId != null and enterpriseId != ''">
                AND enterprise_id=#{enterpriseId}
            </if>
            <!-- <if test="fieldType != null"> AND field IN <foreach collection="fieldType"
                index="index" item="field" open="(" separator="," close=")"> #{field.code}
                </foreach> </if> -->
        </where>
    </select>

    <select id="getFmDevice" resultMap="DeviceVoMap">
        <!-- SELECT device_id,CODE,NAME FROM pls_device WHERE product_id IN( SELECT
            product_id FROM pls_product WHERE TYPE IN( SELECT id FROM `pls_dictionary`
            WHERE TYPE='sensor' AND val='FM' AND is_del=0 ) AND is_del=0 ) AND is_del=0 -->
        <!--为适应 shardingsphere 修改语句 -->
        SELECT a.device_id,a.code,a.name
        FROM pls_device AS a
        WHERE a.product_category = 'sensor' and a.product_type = 'fm'
        AND a.enterprise_id = #{enterpriseId} AND a.is_del=#{isDel}

    </select>

    <!-- 设备统计 -->

    <select id="getDeviceCount" resultMap="productVoMap"
            parameterType="java.util.Map">
        SELECT count(1) as deviceCount,b.enterprise_name as product_des ,
        a.product_id,
        a.category AS product_category,a.type AS product_type,a.code AS
        product_code,a.name as product_name,
        g.name AS caliber_name, g.val AS caliber_val,
        h.name AS material_name, h.val AS material_val,
        j.name AS product_category_name,
        j.val AS product_category_val,
        k.name AS product_type_name,
        k.val AS product_type_val
        FROM pls_product AS a
        JOIN pls_device AS f ON a.product_id = f.product_id AND a.is_del=0 AND
        f.is_del=#{isDel}
        join pls_enterprise as b ON f.enterprise_id = b.enterprise_id and b.is_del
        = #{isDel}
        <if test="enterpriseId != null and enterpriseId != ''">
            and f.enterprise_id=#{enterpriseId}
        </if>
        <!-- 口径 -->
        LEFT JOIN pls_dictionary AS g ON a.caliber=g.id AND
        g.type='${@CommonConstants@DICTIONARY_TYPE_CALIBER}'
        AND a.is_del=#{isDel} AND g.is_del=#{isDel}
        <!-- 材质 -->
        LEFT JOIN pls_dictionary AS h ON a.material=h.id AND
        h.type='${@CommonConstants@DICTIONARY_TYPE_MATERIAL}'
        AND a.is_del=#{isDel} AND h.is_del=#{isDel}
        <!-- 厂商 -->
        LEFT JOIN pls_factory AS i ON a.factory_id=i.factory_id AND
        a.is_del=#{isDel} AND i.is_del=#{isDel}
        <!-- 产品类别 -->
        JOIN pls_dictionary AS j ON a.category=j.id AND
        j.type='${@CommonConstants@DICTIONARY_TYPE_PRODUCTCATEGORY}'
        AND a.is_del=#{isDel} AND j.is_del=#{isDel}
        AND
        j.val=#{productCategory}
        <!-- 产品类型 -->
        LEFT JOIN pls_dictionary AS k ON a.type=k.id AND a.is_del=#{isDel} AND
        k.is_del=#{isDel}
        <!-- 敷设类型 -->
        LEFT JOIN pls_dictionary AS l ON f.laying=l.id AND
        l.type='${@CommonConstants@DICTIONARY_TYPE_LAYING}'
        AND f.is_del=#{isDel} AND l.is_del=#{isDel}

        group by
        a.product_id,a.category,a.type,a.code,a.name,g.name,g.val,h.name,h.val,j.name,j.val,
        k.name,k.val ,f.enterprise_id ,a.is_del
        <!-- having a.is_del = #{isDel} -->
        <!-- AND j.val=#{productCategory} -->

        <!-- <if test="enterpriseId != null and enterpriseId != ''"> and f.enterprise_id=#{enterpriseId}
            </if> -->
        order by f.enterprise_id,deviceCount desc ,a.last_date desc
    </select>


    <select id="getDeviceProperty" resultMap="DevicePropertyVoMap"
            parameterType="java.util.Map">
        SELECT * FROM pls_device_property
        <where>
            <if test="deviceId != null">
                AND device_id = #{deviceId}
            </if>
            <if test="code != null">
                AND device_code = #{code}
            </if>

            <if test="code != null">
                AND device_code = #{code}
            </if>

            <if test="field != null">
                AND field = #{field}
            </if>
            <if test="operEid != null">
                AND enterprise_id = #{operEid}
            </if>
            <if test="isDel != null">
                AND is_del = #{isDel}
            </if>
        </where>
    </select>

    <!-- <select id="getDevicePropertys" resultMap="DevicePropertyVoMap" parameterType="java.util.Map">
        SELECT * FROM pls_device_property <where> <if test="deviceId != null"> AND
        device_id = #{deviceId} </if> <if test="code != null"> AND device_code =
        #{code} </if> <if test="fields != null"> AND field in <foreach collection="fields"
        index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
        </if> <if test="operEid != null"> AND enterprise_id = #{operEid} </if> <if
        test="isDel != null"> AND is_del = #{isDel} </if> </where> </select> -->


    <select id="getDevicePropertys" resultMap="DevicePropertyVoMap"
            parameterType="java.util.Map">

        <if test="fields != null">
            select device_id,device_code,dev_send_date,ser_rece_date
            <foreach collection="fields" index="index" item="item">
                , ${item}
                <!-- <if test="index != (fields.size() - 1)"> , </if> -->
            </foreach>
            from pls_device_data
            <where>
                <if test="deviceId != null">
                    AND device_id = #{deviceId}
                </if>
                <if test="code != null">
                    AND device_code = #{code}
                </if>
                <if test="operEid != null">
                    AND enterprise_id = #{operEid}
                </if>
                <if test="isDel != null">
                    AND is_del = #{isDel}
                </if>
            </where>
        </if>

        <!-- SELECT * FROM pls_device_property <where> <if test="deviceId != null">
            AND device_id = #{deviceId} </if> <if test="code != null"> AND device_code
            = #{code} </if> <if test="operEid != null"> AND enterprise_id = #{operEid}
            </if> <if test="isDel != null"> AND is_del = #{isDel} </if> </where> -->
    </select>


    <select id="mapAll" resultMap="DeviceVoMap"
            parameterType="java.util.Map">
        SELECT a.device_id,a.code, a.name, a.des,
        a.address,a.length,a.depth,a.pipe_elevation,a.ground_elevation,
        a.laying, a.install_date, a.remark,a.version,a.last_by,
        a.last_date,a.is_del, a.enterprise_id,
        c.area_id AS area_id, c.area_code AS area_code,c.name AS area_name,
        e.point_id, e.code AS point_code, e.name AS point_name, e.longitude AS
        point_longitude, e.latitude AS point_latitude
        <!-- ,f.product_id,f.category AS product_category,f.type AS product_type,f.code AS
         product_code,f.name as product_name,
         g.id AS caliber_id, g.name AS caliber_name, g.val AS caliber_val,
         h.id AS material_id, h.name AS material_name, h.val AS material_val,
         i.factory_id,i.code AS factory_code,i.name AS factory_name,
         j.name AS product_category_name,j.val AS product_category_val,
         k.name AS product_type_name,k.val AS product_type_val,
         l.id AS laying_id,l.name AS laying_name-->
        FROM pls_device AS a
        <!-- JOIN area_map AS b ON a.device_id=b.device_id AND a.is_del=#{isDel}
            AND b.is_del=#{isDel} -->
        JOIN pls_area AS c ON a.area_id=c.area_id AND a.is_del=#{isDel} AND c.is_del=#{isDel}
        JOIN pls_point_map AS d ON a.device_id = d.device_id
        AND a.is_del=#{isDel} AND d.is_del=#{isDel}
        JOIN pls_point AS e ON d.point_id = e.point_id AND d.is_del=#{isDel} AND e.is_del=#{isDel}
        <!-- JOIN pls_product AS f ON a.product_id = f.product_id AND
        a.is_del=#{isDel} AND f.is_del=#{isDel} -->
        <!-- 口径
        LEFT JOIN pls_dictionary AS g ON f.caliber=g.id AND
        g.type='${@CommonConstants@DICTIONARY_TYPE_CALIBER}'
        AND f.is_del=#{isDel} AND g.is_del=#{isDel}-->
        <!-- 材质
        LEFT JOIN pls_dictionary AS h ON f.material=h.id AND
        h.type='${@CommonConstants@DICTIONARY_TYPE_MATERIAL}'
        AND f.is_del=#{isDel} AND h.is_del=#{isDel}-->
        <!-- 厂商
        LEFT JOIN pls_factory AS i ON f.factory_id=i.factory_id AND
        f.is_del=#{isDel} AND i.is_del=#{isDel}-->
        <!-- 产品类别
        JOIN pls_dictionary AS j ON f.category=j.id AND
        j.type='${@CommonConstants@DICTIONARY_TYPE_PRODUCTCATEGORY}'
        AND f.is_del=#{isDel} AND j.is_del=#{isDel} -->
        <!-- 产品类型
        LEFT JOIN pls_dictionary AS k ON f.type=k.id AND f.is_del=#{isDel} AND
        k.is_del=#{isDel}-->
        <!-- 敷设类型
        LEFT JOIN pls_dictionary AS l ON a.laying=l.id AND
        l.type='${@CommonConstants@DICTIONARY_TYPE_LAYING}'
        AND a.is_del=#{isDel} AND l.is_del=#{isDel}-->
        <where>
            <if test="operEid != null and operEid != ''">
                AND a.enterprise_id=#{operEid}
            </if>
            <if test="isDel != null">
                AND a.is_del=#{isDel}
            </if>
        </where>
    </select>


    <select id="getDevicePropertyAll"
            resultMap="DevicePropertyVoMap" parameterType="java.util.Map">
        SELECT a.device_id , a.code as device_code ,a.name as name ,
        DATE_FORMAT(n.dev_send_date,'%Y-%m-%d %H:%i:%s') as dev_send_date
        <if test="fields != null">
            <foreach collection="fields" index="index" item="item">
                , n.${item}
            </foreach>
        </if>
        FROM pls_device AS a
        JOIN pls_area AS c ON a.area_id = c.area_id AND a.is_del = 0 AND c.is_del = 0
        left join pls_device_data as n on n.device_id = a.device_id and n.is_del = 0
        <!-- where a.product_category = 'sensor' and a.enterprise_id = '44' and a.is_del=0 -->
        where a.product_category = #{category} and a.enterprise_id = #{operEid} and a.is_del=#{isDel}
        group by n.device_id , a.code
    </select>

    <!-- 片区设备绑定list -->
    <select id="listBind" resultMap="DeviceVoMap"
            parameterType="java.util.Map">
        SELECT h.map_id as device_map_id ,
        a.device_id,a.code, a.name, a.des, a.address,a.length,a.depth,a.pipe_elevation,a.ground_elevation,
        a.laying, a.install_date, a.remark,a.version,a.last_by, a.last_date,a.is_del, a.enterprise_id,
        a.product_id,a.product_category,a.product_type,
        c.area_id AS area_id, c.area_code AS area_code,c.name AS area_name
        <!-- f.product_id,f.category AS product_category,f.type AS product_type,f.code AS product_code,f.name as product_name, -->
        <!-- j.name AS product_category_name,j.val AS product_category_val -->
        FROM pls_device AS a
        JOIN pls_area AS c ON a.area_id=c.area_id AND a.is_del=#{isDel} AND c.is_del=#{isDel}
        <!-- JOIN pls_product AS f ON a.product_id = f.product_id AND a.is_del=#{isDel} AND f.is_del=#{isDel} -->
        <!-- 产品类别 -->
        <!-- JOIN pls_dictionary AS j ON f.category=j.id AND j.type='${@CommonConstants@DICTIONARY_TYPE_PRODUCTCATEGORY}' AND f.is_del=#{isDel} AND j.is_del=#{isDel} -->
        left join pls_device_map as h on h.other_id = a.device_id and h.is_del=#{isDel} and h.level = '0'
        <if test="deviceId != null and deviceId != ''">
            and h.device_id = #{deviceId}
        </if>
        <if test="enterpriseId != null and enterpriseId != ''">
            AND h.enterprise_id=#{enterpriseId}
        </if>
        <where>
            <!-- and a.device_id not in
             (select k.other_id from pls_device_map as k
             where k.is_del = 0 AND k.enterprise_id =#{enterpriseId}
             and k.device_id != #{deviceId}) -->
            <if test="enterpriseId != null and enterpriseId != ''">
                AND a.enterprise_id=#{enterpriseId}
            </if>
            <if test="isDel != null">
                AND a.is_del=#{isDel}
            </if>
            <if test="name != null and name != ''">
                AND a.name=#{name}
            </if>
            <if test="code != null and code != ''">
                AND a.code=#{code}
            </if>
            <if test="areaId != null and areaId != ''">
                AND c.area_id=#{areaId}
            </if>
            <if test="productId != null and productId != ''">
                AND a.product_id=#{productId}
            </if>
            <if test="productIds != null and productIds.size() > 0">
                AND a.product_id in
                <foreach collection="productIds" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="productCategory != null and productCategory != ''">
                AND a.product_category=#{productCategory}
            </if>
            <if test="bindStatus == 1">
                and h.map_id is not null
            </if>
            <if test="bindStatus == 2">
                and h.map_id is null
            </if>
            <!-- <if test="productCategory != null and productCategory != ''"> -->
            <!--     AND j.val=#{productCategory} -->
            <!-- </if> -->
            <!--<if test="deviceId != null and deviceId != ''">-->
            <!--AND h.device_id=#{deviceId}-->
            <!--</if>-->

        </where>
        <if test="limit!=null and offset!=null">
            ORDER BY a.last_date DESC
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getDeviceIdByCode" resultMap="DeviceVoMap">
        select device_id ,code from pls_device where code in
        <foreach collection="deviceCodes" index="index" item="code"
                 separator="," open="(" close=")">
            #{code}
        </foreach>
    </select>

    <update id="editScales">
        <foreach collection="list" item="item" separator=";">
            update pls_device
            <set>
                `scale` = #{item.scale},
                <if test="item.areaId != null and item.areaId != ''">
                    area_id = #{item.areaId}
                </if>
            </set>
            where enterprise_id = #{item.enterpriseId} and device_id = #{item.deviceId}
        </foreach>
    </update>

    <select id="listForApp" resultMap="DeviceVoMap"
            parameterType="java.util.Map">
        SELECT a.device_id,a.code, a.name, a.des,
        a.address,a.length,a.depth,a.pipe_elevation,a.ground_elevation,
        a.product_id,a.product_category,a.product_type,
        a.laying AS laying_id, a.install_date, a.remark,a.version,a.last_by,a.last_date,a.is_del,
        a.enterprise_id,a.angle,a.scale,
        a.area_id AS area_id, c.area_code AS area_code,c.name AS area_name,c.area_color_num,c.scale as area_scale,

        dd.flw_measure as flw_measure,dd.flw_rate as flw_rate,dd.flw_total_value as flw_total_value,
        dd.pressure_value as pressure_value,
        dd.quality_chlorine as quality_chlorine,dd.quality_oxygen as quality_oxygen,dd.quality_ph as quality_ph,
        dd.quality_turbid as quality_turbid,dd.quality_tem_one as quality_tem_one,dd.quality_tem_two as quality_tem_two,
        dd.quality_tem_three as quality_tem_three,dd.quality_tem_four as quality_tem_four

        FROM pls_device AS a
        LEFT JOIN pls_device_data AS dd ON a.device_id = dd.device_id AND a.is_del=#{isDel} AND dd.is_del=#{isDel}
        <if test="productCategory == 'region'">
            LEFT
        </if>
        JOIN pls_area AS c ON a.area_id=c.area_id AND a.is_del=#{isDel} AND c.is_del=#{isDel}
        <where>
            <if test="deviceIds != null and deviceIds.size() > 0">
                AND a.device_id in
                <foreach collection="deviceIds" open="(" item="ele" separator="," close=")">
                    #{ele}
                </foreach>
            </if>
            <if test="enterpriseId != null and enterpriseId != ''">
                AND a.enterprise_id=#{enterpriseId}
            </if>
            <if test="isDel != null">
                AND a.is_del=#{isDel}
            </if>
            <if test="name != null and name != ''">
                AND ( a.name LIKE concat('%',#{name},'%') or a.code LIKE concat('%',#{name},'%'))
            </if>
            <if test="areaId != null and areaId != ''">
                AND c.area_id=#{areaId}
            </if>
            <if test="areaIds != null  and areaIds.size() > 0">
                AND c.area_id in
                <foreach collection="areaIds" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="productId != null and productId != ''">
                AND a.product_id=#{productId}
            </if>
            <if test="productIds != null and productIds.size() > 0">
                AND a.product_id in
                <foreach collection="productIds" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="productCategory != null and productCategory != ''">
                AND a.product_category=#{productCategory}
            </if>
            <if test="productType != null and productType != ''">
                AND a.product_type=#{productType}
            </if>
        </where>
        <if test="limit!=null and offset!=null">
            ORDER BY a.last_date DESC
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="listForCurr" resultMap="DeviceCurrVoMap">
        select d.device_id,d.code,d.name,d.product_category,d.product_type,d.enterprise_id,
        a.name as area_name,
        dd.dev_send_date,dd.flw_measure,dd.flw_rate,dd.flw_total_value,dd.pressure_value,dd.quality_chlorine,
        dd.quality_oxygen,dd.quality_ph,dd.quality_turbid,dd.dev_send_date, dd.high_low_alarm,dd.slope,dd.bump,
        (select al.alarm_count as alarm_count from pls_alarm al where al.device_id = d.device_id and al.`status` = '0'
        and al.is_del = '0' ) as alarmNum
        from pls_device d
        left join pls_area a on d.area_id = a.area_id and a.is_del = #{isDel}
        left join pls_device_data dd on dd.device_id = d.device_id and dd.is_del = #{isDel}
        <where>
            d.enterprise_id = #{enterpriseId}
            and d.is_del = #{isDel}
            <if test="productType != null and productType != ''">
                and d.product_type = #{productType}
            </if>
            <if test="productCategory != null and productCategory != ''">
                and d.product_category = #{productCategory}
            </if>
            <if test="code != null and code != ''">
                and d.code like concat('%',#{code},'%')
            </if>
            <if test="name != null and name != ''">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="areaId != null and areaId != ''">
                and a.area_id = #{areaId}
            </if>
        </where>
        order by dd.dev_send_date desc
    </select>

    <select id="getAlarmNum" resultType="java.lang.Integer">
        select count(1) as `count` from pls_alarm where device_id = #{deviceId}
    </select>
</mapper>





