<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dotop.smartwater.view.server.dao.pipe.workorder.IWorkOrderSummaryDao">

    <resultMap id="BaseResultMap"
               type="com.dotop.smartwater.view.server.core.workorder.vo.WorkOrderSummaryVo">
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="number" jdbcType="VARCHAR" property="count"/>
    </resultMap>

    <select id="workOrderProcessing" resultMap="BaseResultMap">
      SELECT type,`status`, count(work_order_id) number FROM pls_work_order  WHERE enterprise_id = #{enterpriseId} AND is_del = #{isDel}  GROUP BY type, `status`
    </select>

</mapper>
