<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dotop.pipe.api.dao.alarm.IAlarmDao">

    <resultMap id="AlarmVoMap" type="com.dotop.pipe.core.vo.alarm.AlarmVo">
        <result column="alarm_id" jdbcType="VARCHAR" property="alarmId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="des" jdbcType="VARCHAR" property="des"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="process_result" jdbcType="VARCHAR" property="processResult"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="alarm_count" jdbcType="VARCHAR" property="alarmCount"/>
        <association property="device" javaType="com.dotop.pipe.core.vo.device.DeviceVo">
            <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
            <result column="device_name" jdbcType="VARCHAR" property="name"/>
            <result column="device_code" jdbcType="VARCHAR" property="code"/>
            <result column="product_category" jdbcType="VARCHAR" property="productCategory"/>
            <association property="product" javaType="com.dotop.pipe.core.vo.product.ProductVo">
                <result column="product_id" jdbcType="VARCHAR" property="productId"/>
                <association property="category" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
                    <result column="product_category_name" jdbcType="VARCHAR" property="name"/>
                    <result column="product_category_val" jdbcType="VARCHAR" property="val"/>
                </association>
                <association property="type" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
                    <result column="product_type_name" jdbcType="VARCHAR" property="name"/>
                    <result column="product_type_val" jdbcType="VARCHAR" property="val"/>
                </association>
            </association>
            <association property="area" javaType="com.dotop.pipe.core.vo.area.AreaModelVo">
                <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
                <result column="area_name" jdbcType="VARCHAR" property="name"/>
            </association>
        </association>
    </resultMap>

    <select id="list" resultMap="AlarmVoMap">
        SELECT a.alarm_id ,a.code ,a.name ,a.des,a.last_date as create_date ,a.status,a.alarm_count,
        b.device_id,b.area_id ,b.name AS device_name,b.code AS device_code,
        b.product_id , b.product_category as product_category_val , b.product_type as product_type_val,
        <!-- ,j.name AS product_category_name, k.name AS product_type_name-->
        c.name as area_name
        FROM pls_alarm AS a
        JOIN pls_device AS b ON a.device_id = b.device_id AND a.is_del = #{isDel} AND b.is_del = #{isDel}
        JOIN pls_area as c on b.area_id = c.area_id and c.is_del = #{isDel}
        <!-- JOIN pls_product AS c ON b.product_id = c.product_id AND b.is_del = #{isDel} AND c.is_del = #{isDel} LEFT JOIN pls_dictionary AS j ON c.category=j.id AND j.type='${@CommonConstants@DICTIONARY_TYPE_PRODUCTCATEGORY}' AND  c.is_del=#{isDel} AND j.is_del=#{isDel} -->
        <!-- LEFT JOIN pls_dictionary AS k ON c.type=k.id AND k.is_del=#{isDel} -->
        <where>
            <if test="enterpriseId != null and enterpriseId != ''">
                and a.enterprise_id = #{enterpriseId}
            </if>
            <if test="status != null ">
                and a.status = #{status}
            </if>
            <if test="areaId != null ">
                and b.area_id = #{areaId}
            </if>
            <if test="deviceName != null and deviceName != ''">
                and b.name like CONCAT('%',#{deviceName},'%')
            </if>
            <if test="deviceCode != null and deviceCode != ''">
                and b.code like CONCAT('%',#{deviceCode},'%')
            </if>
            <if test="productCategory != null and productCategory != ''">
                and b.product_category = #{productCategory}
            </if>
            <if test="productType != null and productType != ''">
                and b.product_type = #{productType}
            </if>
            <if test="productCategorys != null and productCategorys.size() >0 ">
                and b.product_category in
                <foreach collection="productCategorys" separator="," open="(" close=")" item="productCategory">
                    #{productCategory}
                </foreach>
            </if>
            <if test="startDate != null ">
                AND a.last_date &gt;= STR_TO_DATE(DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s'),'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endDate != null ">
                AND a.last_date &lt;= STR_TO_DATE(DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i:%s'),'%Y-%m-%d %H:%i:%s')
            </if>

        </where>
        order by a.`status` ,a.last_date desc
    </select>

    <select id="areaList" resultMap="AlarmVoMap">
        SELECT a.alarm_id ,a.code ,a.name ,a.des,a.last_date as create_date ,a.status,a.alarm_count,
        c.area_id as device_id,c.area_id ,c.name AS device_name,c.area_code AS device_code,
        c.name as area_name
        FROM pls_alarm AS a
        JOIN pls_area as c on a.device_id = c.area_id and c.is_del = #{isDel}
        <where>
            <if test="enterpriseId != null and enterpriseId != ''">
                and a.enterprise_id = #{enterpriseId}
            </if>
            <if test="status != null ">
                and a.status = #{status}
            </if>
            <if test="areaId != null ">
                and c.area_id = #{areaId}
            </if>
            <if test="deviceName != null and deviceName != ''">
                and c.name like CONCAT('%',#{deviceName},'%')
            </if>
            <if test="deviceCode != null and deviceCode != ''">
                and c.area_code like CONCAT('%',#{deviceCode},'%')
            </if>
            <if test="startDate != null ">
                AND a.last_date &gt;= STR_TO_DATE(DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s'),'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endDate != null ">
                AND a.last_date &lt;= STR_TO_DATE(DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i:%s'),'%Y-%m-%d %H:%i:%s')
            </if>

        </where>
        order by a.`status` ,a.last_date desc

    </select>


    <!-- 详情 -->
    <select id="get" resultMap="AlarmVoMap">
        SELECT a.alarm_id ,a.code ,a.name ,a.des,a.last_date as create_date,a.status,a.process_result,a.alarm_count,
        b.device_id,b.name AS device_name,b.code AS device_code,
        b.product_id , b.product_category as product_category_val , b.product_type as product_type_val
        <!-- ,j.name AS product_category_name, k.name AS product_type_name -->
        FROM pls_alarm AS a
        JOIN pls_device AS b ON a.device_id = b.device_id AND a.is_del = #{isDel} AND b.is_del = #{isDel}
        <!-- JOIN pls_product AS c ON b.product_id = c.product_id AND b.is_del = #{isDel} AND c.is_del = #{isDel} left JOIN pls_dictionary AS j ON c.category=j.id AND j.type='${@CommonConstants@DICTIONARY_TYPE_PRODUCTCATEGORY}' AND c.is_del=#{isDel} AND j.is_del=#{isDel} -->
        <!-- left JOIN pls_dictionary AS k ON c.type=k.id AND k.is_del=#{isDel} -->
        <where>
            a.enterprise_id = #{enterpriseId}
            <if test="alarmId != null and alarmId != ''">
                AND a.alarm_id = #{alarmId}
            </if>
            <if test="deviceId != null and deviceId != ''">
                AND a.device_id = #{deviceId}
            </if>
            <if test="status != null ">
                AND a.status = #{status}
            </if>
        </where>
    </select>


    <select id="getAreaAlarm" resultMap="AlarmVoMap">
        SELECT a.alarm_id ,a.code ,a.name ,a.des,a.last_date as create_date,a.status,a.process_result,a.alarm_count,
        b.area_id as device_id , b.name AS device_name,b.area_code AS device_code
        FROM pls_alarm AS a
        JOIN pls_area AS b ON a.device_id = b.area_id AND a.is_del = #{isDel} AND b.is_del = #{isDel}
        <where>
            a.enterprise_id = #{enterpriseId}
            <if test="alarmId != null and alarmId != ''">
                AND a.alarm_id = #{alarmId}
            </if>
            <if test="deviceId != null and deviceId != ''">
                AND a.device_id = #{deviceId}
            </if>
            <if test="status != null ">
                AND a.status = #{status}
            </if>
        </where>
    </select>

    <!-- 报警处理 -->
    <update id="edit">
        UPDATE pls_alarm
        <trim prefix="set" suffixOverrides=",">
            <if test="status != null and status != ''">
                status = #{status} ,
            </if>
            <if test="processResult != null and processResult != ''">
                process_result = #{processResult} ,
            </if>
            <if test="userBy != null and userBy != ''">
                last_by = #{userBy} ,
            </if>
            <if test="curr != null ">
                last_date = #{curr},
            </if>
            <if test="name != null and name != ''">
                <!-- name = concat(name,';',#{name} ) , -->
                name = #{name},
            </if>
            <if test="des != null and des != ''">
                <!--  des = concat(des,';',#{des} ) , -->
                des = #{des},
            </if>
            <if test="alarmCount != null and alarmCount != ''">
                alarm_count = #{alarmCount},
            </if>
        </trim>
        WHERE enterprise_id = #{enterpriseId} AND alarm_id = #{alarmId}
    </update>

    <insert id="add">
		INSERT INTO	pls_alarm
		(alarm_id,code,name,des,device_id,status,create_by,create_date,last_by,last_date,is_del,enterprise_id,alarm_count)
		VALUE
		(#{alarmId},#{code},#{name},#{des},#{deviceId},#{status},#{userBy},#{curr},#{userBy},#{curr},#{isDel},#{enterpriseId},#{alarmCount})
	</insert>

    <select id="listByDevice" resultMap="AlarmVoMap">
	  select b.device_id  as device_id , b.code as device_code from pls_alarm as a   
      join pls_device as b on a.device_id = b.device_id and a.is_del = #{isDel} and b.is_del = #{isDel} and a.status = #{status} 
      and a.enterprise_id = #{enterpriseId}
      group by b.device_id , b.code
	</select>

</mapper>