<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <typeHandlers>
        <!-- <typeHandler handler="com.dotop.smartwater.project.server.water.config.mybatis.ListStringTypeHandler"/> -->
        <typeHandler
                handler="com.dotop.smartwater.project.server.water.config.mybatis.MapStringTypeHandler"/>
        <typeHandler
                handler="com.dotop.smartwater.project.server.water.config.mybatis.ListObjectTypeHandler"/>
    </typeHandlers>

</configuration>
