<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
        namespace="com.dotop.pipe.api.dao.devicedata.IMeterReadingDao">
    <resultMap id="DeviceVoMap" type="com.dotop.pipe.core.vo.device.DeviceVo">
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="des" jdbcType="VARCHAR" property="des"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="product_category" jdbcType="VARCHAR" property="productCategory"/>
        <result column="product_type" jdbcType="VARCHAR" property="productType"/>
        <association property="area" javaType="com.dotop.pipe.core.vo.area.AreaModelVo">
            <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
            <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
            <result column="area_name" jdbcType="VARCHAR" property="name"/>
            <result column="area_des" jdbcType="VARCHAR" property="des"/>
            <result column="area_enterprise_id" jdbcType="VARCHAR" property="enterpriseId"/>
        </association>
        <association property="product" javaType="com.dotop.pipe.core.vo.product.ProductVo">
            <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        </association>
        <association property="deviceProperty" javaType="com.dotop.pipe.core.vo.device.DevicePropertyVo">
            <result column="deviceId" jdbcType="VARCHAR" property="deviceId"/>
            <result column="field" jdbcType="VARCHAR" property="field"/>
            <result column="val" jdbcType="VARCHAR" property="val"/>
            <result column="flw_measure" jdbcType="VARCHAR" property="flwMeasure"/>
            <result column="flw_rate" jdbcType="VARCHAR" property="flwRate"/>
            <result column="flw_total_value" jdbcType="VARCHAR" property="flwTotalValue"/>
            <result column="pressure_value" jdbcType="VARCHAR" property="pressureValue"/>
            <result column="quality_chlorine" jdbcType="VARCHAR" property="qualityChlorine"/>
            <result column="quality_oxygen" jdbcType="VARCHAR" property="qualityOxygen"/>
            <result column="quality_ph" jdbcType="VARCHAR" property="qualityPh"/>
            <result column="quality_turbid" jdbcType="VARCHAR" property="qualityTurbid"/>
            <result column="quality_tem_one" jdbcType="VARCHAR" property="qualityTemOne"/>
            <result column="quality_tem_two" jdbcType="VARCHAR" property="qualityTemTwo"/>
            <result column="quality_tem_three" jdbcType="VARCHAR" property="qualityTemThree"/>
            <result column="quality_tem_four" jdbcType="VARCHAR" property="qualityTemFour"/>
            <result column="high_low_alarm" jdbcType="VARCHAR" property="highLowAlarm"/>
            <result column="bump" jdbcType="VARCHAR" property="bump"/>
            <result column="slope" jdbcType="VARCHAR" property="slope"/>
            <result column="dev_send_date" jdbcType="VARCHAR" property="devSendDate"/>
        </association>
    </resultMap>

    <select id="deviceList" resultMap="DeviceVoMap"
            parameterType="java.util.Map">
        SELECT a.device_id,a.code, a.name, a.des,
        a.product_id,a.product_category,a.product_type,
        c.area_id AS area_id, c.area_code AS area_code,c.name AS area_name,
        d.flw_measure,d.flw_rate,d.flw_total_value,d.pressure_value,d.quality_chlorine,
        d.quality_oxygen,d.quality_ph,d.quality_turbid , d.dev_send_date,
        d.quality_tem_one,d.quality_tem_two,d.quality_tem_three,d.quality_tem_four,
        d.high_low_alarm,d.slope,d.bump
        FROM pls_device AS a
        JOIN pls_area AS c ON a.area_id=c.area_id AND a.is_del=#{isDel} AND c.is_del=#{isDel}
        <if test="productCategory != 'sensor' and productCategory != 'hydrant' ">
            join pls_product as e on a.product_id = e.product_id and e.is_del = 0
        </if>
        left join pls_device_data as d on a.device_id = d.device_id
        <where>
            <if test="enterpriseId != null and enterpriseId != ''">
                AND a.enterprise_id=#{enterpriseId}
            </if>
            <if test="isDel != null">
                AND a.is_del=#{isDel}
            </if>
            <if test="name != null and name != ''">
                AND a.name LIKE concat('%',#{name},'%')
            </if>
            <if test="code != null and code != ''">
                AND a.code LIKE concat('%',#{code},'%')
            </if>
            <if test="areaId != null and areaId != ''">
                AND c.area_id=#{areaId}
            </if>
            <if test="productId != null and productId != ''">
                AND a.product_id=#{productId}
            </if>
            <if test="productCategory != null and productCategory != ''">
                AND a.product_category=#{productCategory}
            </if>
            <if test="productCategory != 'sensor' and productCategory != 'hydrant' ">
                AND a.product_category in ('region','water_factory','slops_factory','hydrant')
            </if>
            <if test="productType != null and productType != ''">
                AND a.product_type=#{productType}
            </if>
        </where>
        ORDER BY d.dev_send_date desc , a.last_date DESC
    </select>

    <!--  已查 -->
    <select id="areaList" resultMap="DeviceVoMap" parameterType="java.util.Map">
        SELECT a.area_id as device_id ,a.area_id , a.area_code, a.name as area_name , a.des as area_des,a.enterprise_id
        as area_enterprise_id,
        d.flw_measure,d.flw_rate,d.flw_total_value,d.pressure_value,d.quality_chlorine,
        d.quality_oxygen,d.quality_ph,d.quality_turbid,d.dev_send_date
        FROM pls_area AS a
        left join pls_device_data as d on a.area_id = d.device_id and d.enterprise_id=#{enterpriseId}
        <where>
            <if test="enterpriseId != null and enterpriseId != ''">
                AND a.enterprise_id=#{enterpriseId}
            </if>
            <if test="isDel != null">
                AND a.is_del=#{isDel}
            </if>
            <if test="name != null">
                AND a.name LIKE concat('%',#{name},'%')
            </if>
            <if test="areaCode != null">
                AND a.area_code LIKE concat('%',#{areaCode},'%')
            </if>
        </where>
        ORDER BY d.dev_send_date desc , a.create_date DESC
    </select>
</mapper>