<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dotop.pipe.api.dao.point.IPointDao">

	<resultMap id="PointVoMap"
		type="com.dotop.pipe.core.vo.point.PointVo">
		<result column="point_id" jdbcType="VARCHAR" property="pointId" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="des" jdbcType="VARCHAR" property="des" />
		<result column="longitude" jdbcType="VARCHAR"
			property="longitude" />
		<result column="latitude" jdbcType="VARCHAR"
			property="latitude" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="last_by" jdbcType="VARCHAR" property="lastBy" />
		<result column="last_date" jdbcType="TIMESTAMP"
			property="lastDate" />
		<result column="enterprise_id" jdbcType="VARCHAR"
			property="enterpriseId" />
	</resultMap>

	<insert id="add">
		INSERT INTO pls_point
		(point_id, code, name, des,
		longitude, latitude, remark, create_by, create_date,
		last_by,
		last_date, is_del, enterprise_id)
		VALUES
		(#{pointId}, #{code}, #{name},
		#{des}, #{longitude}, #{latitude}, #{remark},
		#{userBy}, #{curr},
		#{userBy}, #{curr}, #{isDel}, #{enterpriseId});
	</insert>

	<select id="get" resultMap="PointVoMap">
		SELECT point_id, code, name, des, longitude, latitude, remark,
		last_by, last_date, enterprise_id FROM pls_point
		<where>
			<if test="enterpriseId != null and enterpriseId != ''">
				AND enterprise_id=#{enterpriseId}
			</if>
			<if test="isDel != null">
				AND is_del=#{isDel}
			</if>
			<if test="pointId != null and pointId != ''">
				AND point_id=#{pointId}
			</if>
			<if test="code != null and code != ''">
				AND code=#{code}
			</if>
		</where>
	</select>

	<select id="list" resultMap="PointVoMap"
		parameterType="java.util.Map">
		SELECT point_id, code, name, des, longitude, latitude, remark,
		last_by, last_date, enterprise_id FROM pls_point AS a
		<where>
			<if test="enterpriseId != null and enterpriseId != ''">
				AND enterprise_id=#{enterpriseId}
			</if>
			<if test="isDel != null">
				AND is_del=#{isDel}
			</if>
			<if test="code != null and code != ''">
				AND code=#{code}
			</if>
		</where>
		<if test="limit!=null and offset!=null">
			ORDER BY last_date DESC
			LIMIT #{limit} OFFSET
			#{offset}
		</if>
	</select>

	<select id="listCount" resultType="INTEGER"
		parameterType="java.util.Map">
		SELECT count(point_id) FROM pls_point AS a
		<where>
			<if test="enterpriseId != null and enterpriseId != ''">
				AND enterprise_id=#{enterpriseId}
			</if>
			<if test="isDel != null">
				AND is_del=#{isDel}
			</if>
			<if test="code != null and code != ''">
				AND code=#{code}
			</if>
		</where>
	</select>

	<update id="edit" parameterType="java.util.Map">
		UPDATE pls_point
		<trim prefix="set" suffixOverrides=",">
			<if test="code != null and code != ''">
				code=#{code},
			</if>
			<if test="name != null and name != ''">
				name=#{name},
			</if>
			<if test="des != null and des != ''">
				des=#{des},
			</if>
			<if test="longitude != null">
				longitude=#{longitude},
			</if>
			<if test="latitude != null">
				latitude=#{latitude},
			</if>
			<if test="remark != null and remark != ''">
				remark=#{remark},
			</if>
			<if test="userBy != null and userBy != ''">
				last_by=#{userBy},
			</if>
			<if test="curr != null">
				last_date=#{curr},
			</if>
		</trim>
		WHERE
		enterprise_id=#{enterpriseId} AND point_id=#{pointId} AND
		is_del=#{isDel}
	</update>

	<update id="del" parameterType="java.util.Map">
		UPDATE pls_point SET
		is_del=#{newIsDel},last_by=#{userBy}, last_date=#{curr}
		WHERE
		enterprise_id=#{enterpriseId} AND point_id=#{pointId} AND
		is_del=#{isDel}
	</update>
	
	<select id="mapAll" resultMap="PointVoMap"
		parameterType="java.util.Map">
		SELECT point_id, code, name, des, longitude, latitude, remark,
		last_by, last_date, enterprise_id FROM pls_point AS a
		<where>
			<if test="operEid != null and operEid != ''">
				AND enterprise_id=#{operEid}
			</if>
			<if test="isDel != null">
				AND is_del=#{isDel}
			</if>
		</where>
	</select>
	
	
	<insert id="addList">
        
        INSERT INTO pls_point
		(point_id, code, name, des,
		longitude, latitude, remark, create_by, create_date,
		last_by,
		last_date, is_del, enterprise_id)
		VALUES
		<foreach collection="points" item="item" index="index" separator=",">
            (#{item.pointId}, #{item.code}, #{item.name},
		#{item.des}, #{item.longitude}, #{item.latitude}, #{item.remark},
		#{userBy}, #{curr},
		#{userBy}, #{curr}, #{isDel}, #{operEid})
        </foreach>
		;
	</insert>
	
	
</mapper>