<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dotop.smartwater.project.module.dao.pay.IPaymentResultDao">
    <resultMap id="BaseResultMap" type="com.dotop.smartwater.project.module.core.pay.vo.PaymentResultVo">
        <id column="pay_res_id" jdbcType="VARCHAR" property="payResId"/>
        <result column="payid" jdbcType="VARCHAR" property="payid"/>
        <result column="pay_number" jdbcType="VARCHAR" property="payNumber"/>
        <result column="amount" jdbcType="VARCHAR" property="amount"/>
        <result column="mode" jdbcType="VARCHAR" property="mode"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="enterpriseid" jdbcType="VARCHAR" property="enterpriseid"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="third_party_num" jdbcType="VARCHAR" property="thirdPartyNum"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>

    <select id="get" resultMap="BaseResultMap">
    select pay_res_id, payid, pay_number, amount, mode, status, description, enterpriseid, pay_time,
      third_party_num, create_date
      from payment_result
    where pay_res_id = #{payResId,jdbcType=VARCHAR}
  </select>
    <delete id="del" parameterType="java.lang.String">
    delete from payment_result
    where pay_res_id = #{payResId,jdbcType=VARCHAR}
  </delete>
    <insert id="add" parameterType="com.dotop.smartwater.project.module.core.pay.dto.PaymentResultDto">
    insert into payment_result (pay_res_id, payid, pay_number,
      amount, mode, status,
      description, enterpriseid, pay_time,
      third_party_num, create_date)
    values (#{payResId,jdbcType=VARCHAR}, #{payid,jdbcType=VARCHAR}, #{payNumber,jdbcType=VARCHAR},
      #{amount,jdbcType=VARCHAR}, #{mode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR}, #{enterpriseid,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP},
      #{thirdPartyNum,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
    <update id="edit" parameterType="com.dotop.smartwater.project.module.core.pay.dto.PaymentResultDto">
        update payment_result
        <set>
            <if test="payid != null and payid != '' ">
                payid = #{payid,jdbcType=VARCHAR},
            </if>
            <if test="payNumber != null and payNumber != '' ">
                pay_number = #{payNumber,jdbcType=VARCHAR},
            </if>
            <if test="amount != null and amount != '' ">
                amount = #{amount,jdbcType=VARCHAR},
            </if>
            <if test="mode != null and mode != '' ">
                mode = #{mode,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != '' ">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="description != null and description != '' ">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="enterpriseid != null and enterpriseid != '' ">
                enterpriseid = #{enterpriseid,jdbcType=VARCHAR},
            </if>
            <if test="payTime != null ">
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="thirdPartyNum != null and thirdPartyNum != '' ">
                third_party_num = #{thirdPartyNum,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null ">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where pay_res_id = #{payResId,jdbcType=VARCHAR}
    </update>

    <select id="list" resultMap="BaseResultMap">
    select pay_res_id, payid, pay_number, amount, mode, status, description, enterpriseid, pay_time,
      third_party_num, create_date
      from payment_result
  </select>

    <select id="findByPayId" resultMap="BaseResultMap">
    select pay_res_id, payid, pay_number, amount, mode, status, description, enterpriseid, pay_time,
      third_party_num, create_date
      from payment_result
    where payid = #{payid,jdbcType=VARCHAR}
  </select>
</mapper>