<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.dotop.pipe.api.dao.historylog.IHistoryLogDao">

	<resultMap id="HistoryLogVoMap"
		type="com.dotop.pipe.core.vo.historylog.HistoryLogVo">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="field_name" jdbcType="VARCHAR" property="fieldName" />
		<result column="field_new_val" jdbcType="VARCHAR" property="fieldNewVal" />
		<result column="field_old_val" jdbcType="VARCHAR" property="fieldOldVal" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
	    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
	    <result column="category_val" jdbcType="VARCHAR" property="categoryVal" /> 
		<result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
		
	<association property="device" javaType="com.dotop.pipe.core.vo.device.DeviceVo">
		<result column="device_id" jdbcType="VARCHAR" property="deviceId" />
		<result column="device_code" jdbcType="VARCHAR" property="code" />
		<result column="device_name" jdbcType="VARCHAR" property="name" />
		<result column="device_des" jdbcType="VARCHAR" property="des" />
		<result column="device_address" jdbcType="VARCHAR" property="address" />
		<result column="device_length" jdbcType="VARCHAR" property="length" />
		<result column="device_depth" jdbcType="VARCHAR" property="depth" />
		<result column="pipe_elevation" jdbcType="VARCHAR" property="pipeElevation" />
		<result column="ground_elevation" jdbcType="VARCHAR" property="groundElevation" />
		<result column="install_date" jdbcType="TIMESTAMP" property="installDate" />
		<result column="device_remark" jdbcType="VARCHAR" property="remark" />
		<result column="last_by" jdbcType="VARCHAR" property="lastBy" />
		<result column="last_date" jdbcType="TIMESTAMP" property="lastDate" />
		<association property="laying" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
				<result column="laying_name" jdbcType="VARCHAR"   property="name" /> 
		</association>
		
		<association property="area" javaType="com.dotop.pipe.core.vo.area.AreaModelVo">
			<result column="area_id"   jdbcType="VARCHAR"   property="areaId" />
			<result column="area_code" jdbcType="VARCHAR"   property="areaCode" />
			<result column="area_name" jdbcType="VARCHAR"   property="name" />
			<result column="area_des"  jdbcType="VARCHAR"   property="des" />
		</association>
		
		<association property="product"
			javaType="com.dotop.pipe.core.vo.product.ProductVo">
			<result column="product_id"   jdbcType="VARCHAR"   property="productId" />
			<!-- <result column="product_category" jdbcType="VARCHAR"   property="category" /> --> 
			<!-- <result column="product_type"  jdbcType="VARCHAR"   property="type" /> -->
			<result column="product_code"  jdbcType="VARCHAR"   property="code" />
			<result column="product_name"  jdbcType="VARCHAR"   property="name" />
			<result column="product_des"  jdbcType="VARCHAR"   property="des" />
			<association property="category" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
				<result column="product_category_name" jdbcType="VARCHAR"   property="name" /> 
			</association>
			<association property="type" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
				<result column="product_type_name"  jdbcType="VARCHAR"   property="name" />
			</association>
			<association property="factory" javaType="com.dotop.pipe.core.vo.factory.FactoryVo">
				<result column="factory_id"   jdbcType="VARCHAR"   property="factoryId" />
				<result column="factory_code"   jdbcType="VARCHAR"   property="code" />
				<result column="factory_name"   jdbcType="VARCHAR"   property="name" />
			</association>
			<association property="caliber" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
				<result column="caliber_name"   jdbcType="VARCHAR"   property="name" />
			</association>
			<association property="material" javaType="com.dotop.pipe.core.vo.common.DictionaryVo">
				<result column="material_name"   jdbcType="VARCHAR"   property="name" />
			</association>
		</association> 
		</association> 
		
	</resultMap>

	<select id="list" resultMap="HistoryLogVoMap">
		select a.id,a.field_name
		,a.field_new_val,a.field_old_val ,a.create_date ,
		b.device_id as device_id ,b.code as device_code ,
		d.name as category_name ,d.val as category_val 
		from
		pls_device_history_log as a
		join pls_device as b on a.device_id = b.device_id
		and b.is_del = #{isDel} and a.is_del= #{isDel}
		join pls_product as c on
		b.product_id = c.product_id and c.is_del = #{isDel}
		left join
		pls_dictionary as d on c.category = d.id and d.is_del = #{isDel}
		
		where a.enterprise_id=#{enterpriseId}
		
		order by
		a.create_date desc , a.device_id 
		
	</select>
	
	
	<select id="get" resultMap="HistoryLogVoMap">
		 select a.id,a.field_name
		,a.field_new_val,a.field_old_val ,a.create_date ,
		b.device_id as device_id ,b.code as device_code, b.name as device_name ,b.des as device_des,
	    b.address as device_address ,b.length as device_length ,b.depth as device_depth ,
	    b.pipe_elevation ,b.ground_elevation,
		b.laying, b.install_date, b.remark,b.last_by, b.last_date,b.is_del,
		d.name as category_name 
		from
		pls_device_history_log as a
		join pls_device as b on a.device_id = b.device_id
		and b.is_del = #{isDel} and a.is_del= #{isDel}
		join pls_product as c on
		b.product_id = c.product_id and c.is_del = #{isDel}
		left join
		pls_dictionary as d on c.category = d.id and d.is_del = #{isDel}
		
		where a.enterprise_id=#{enterpriseId} and a.id = #{id}
		
		order by
		a.create_date desc , a.device_id 
		
	</select>
	

	<insert id="addList">
		INSERT INTO pls_device_history_log
		(id, field_name, 
		field_new_val,
		field_old_val,device_id,
		create_by,create_date,is_del,enterprise_id)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.id},
			#{item.fieldName},
			#{item.fieldNewVal},
			#{item.fieldOldVal},
			#{deviceId},
			#{userBy},
			#{createDate},
			#{isDel},
			#{operEid}
			)
		</foreach>
	</insert>

</mapper>